<table>
  <thead>
    <tr>
      <th>Psychic</th>
      <th>Abilities</th>
      <th>Training</th>
      <th>Die / Bonus</th>
      <th>Usage Ticks</th>
    </tr>
  </thead>
  <tbody>
    <tr class="power-type">
      <td><h4><strong>Electrokinesis</strong></h4></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="drainrecharge">
      <td class="align-left">
        <label
          for="system.psychic.drainrecharge"
          class="resource-label flexlarge align-left hide-show-psychic"
          data-label="drainrecharge"
          data-psychic="psychic"
        >
          {{localize (lookup @root.config.psychic 'drainrecharge')}}
          <i id="rotate-drainrecharge" class="fa {{system.psychic.drainrecharge.rotate}}"></i>
        </label>
      </td>
      <td class="align-center">
        <label>[</label>
        <label for="system.psychic.drainrecharge" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.drainrecharge.attr1}}</label>
        <label>|</label>
        <label for="system.psychic.drainrecharge" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.drainrecharge.attr2}}</label>
        <label>]</label>
        <br/>
        <label for="system.psychic.drainrecharge" class="resource-label flexsmall align-center" data-label="Value">Max: {{system.psychic.drainrecharge.maxTrainingStatus}}</label>
      </td>
      <td class="align-center">
        <select id="system.psychic.drainrecharge" class="training-select-psychic" data-psychic="psychic" name="drainrecharge">
          <option value="untrained" {{#if (eq system.psychic.drainrecharge.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
          <option value="apprentice" {{#if (eq system.psychic.drainrecharge.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
          <option value="professional" {{#if (eq system.psychic.drainrecharge.trainingStatus "professional")}}selected{{/if}}>Professional</option>
          <option value="expert" {{#if (eq system.psychic.drainrecharge.trainingStatus "expert")}}selected{{/if}}>Expert</option>
          <option value="master" {{#if (eq system.psychic.drainrecharge.trainingStatus "master")}}selected{{/if}}>Master</option>
          <option value="legendary" {{#if (eq system.psychic.drainrecharge.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
        </select>
      </td>
      <td class="align-center">
        <label 
          for="system.psychic.drainrecharge"
          class="rollable resource-label flexsmall align-center"
          data-die="{{system.psychic.drainrecharge.die}}"
          data-bonus="{{system.psychic.drainrecharge.totalBonus}}"
          data-grit="{{system.derivedAbilityPools.gritDie.die}}"
          data-roll="{{system.psychic.drainrecharge.die}}+{{system.psychic.drainrecharge.totalBonus}}+{{system.derivedAbilityPools.gritDie.die}}"
          data-label="drainrecharge"
          data-rolltype="psychic-power"
          data-ability="drainrecharge">
          <div class="tooltip">
            {{#if (eq system.psychic.drainrecharge.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="drainrecharge"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.psychic.drainrecharge.die}}" data-ability="drainrecharge"></i>
            {{/if}}              
            <span class="die-word">{{system.psychic.drainrecharge.die}}{{#if system.psychic.drainrecharge.isNegBase}}{{else}}+{{/if}}{{system.psychic.drainrecharge.totalBonus}}</span>
            {{#if (eq system.derivedAbilityPools.gritDie.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="grit"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.derivedAbilityPools.gritDie.die}}" data-ability="grit"></i>
            {{/if}}
            <span class="die-word">{{system.derivedAbilityPools.gritDie.die}}</span>
            <span class="tooltiptext">
              <span class="tooltip-label">Die:</span> {{system.psychic.drainrecharge.die}}<br/>
              <span class="tooltip-label">Bonus:</span> {{system.psychic.drainrecharge.bonusMod}}<br/>
              <span class="tooltip-label">Hindrance Mod:</span> {{system.psychic.drainrecharge.hindranceMod}}<br/>
              <span class="tooltip-label">Trait Mod:</span> {{system.psychic.drainrecharge.traitMod}}<br/>
              <span class="tooltip-label">Cybernetic Mod:</span> {{system.psychic.drainrecharge.cyberMod}}<br/>
              <span class="tooltip-label">Bionetic Mod:</span> {{system.psychic.drainrecharge.bioMod}}
            </span>
          </div>
        </label>
      </td>
      <td class="align-right">
        {{#if (eq system.psychic.drainrecharge.trainingStatus "legendary")}}
        {{else}}
        <!-- Tick Success 0 - u -->
        <div class="tooltip">
        {{#if system.psychic.drainrecharge.usageTickSucc0 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc0"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc0"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 1 - u -->
        <div class="tooltip">
        {{#if system.psychic.drainrecharge.usageTickSucc1 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc1"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc1"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 2 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.drainrecharge.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.drainrecharge.usageTickSucc2 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc2"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc2"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 3 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.drainrecharge.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.drainrecharge.usageTickSucc3 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc3"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc3"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 4 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.drainrecharge.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.drainrecharge.usageTickSucc4 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc4"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc4"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 5 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.drainrecharge.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.drainrecharge.usageTickSucc5 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc5"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc5"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 6 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.drainrecharge.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.drainrecharge.usageTickSucc6 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc6"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc6"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 7 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.drainrecharge.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.drainrecharge.usageTickSucc7 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc7"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc7"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 8 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.drainrecharge.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.drainrecharge.usageTickSucc8 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc8"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc8"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 9 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.drainrecharge.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.drainrecharge.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.drainrecharge.usageTickSucc9 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc9"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="drainrecharge" data-tick="usageTickSucc9"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        {{/if}}
      </td>
    </tr>
    <tr id="table-row-drainrecharge" style="display: {{system.psychic.drainrecharge.hideShow}};">
      <td>
        <input
          type="radio"
          id="system.psychicPower.drainrecharge.selected"
          name="psychicPowerSelected"
          class="radio-selected-psychic"
          data-power="drainrecharge"
          {{#if (eq system.currentPsychicSelection.power "drainrecharge")}}checked{{/if}}
        >
        <span>Selected</span>
      </td>
      <td colspan="4">
        <div class="flexrow">
          <div>
            <span class=""><strong>Base</strong></span><br>
            <input type="radio" id="psychicDrainRechargeBase0" name="psychicDrainRechargeBase" class="radio-psychic-selected-drainrecharge-db" data-cost="5" {{#if (eq system.psychicCosts.drainrecharge.costBase 5)}}checked{{/if}}>
            <label for="psychicDrainRechargeBase0">Base (5 cost)</label><br/>
          <br/>
            <span class=""><strong>Resistance</strong></span><br/>
            <input type="radio" id="psychicDrainRechargeResistanceA" name="psychicDrainRechargeResistance" class="radio-psychic-selected-drainrecharge-dr" data-cost="0" {{#if (eq system.psychicCosts.drainrecharge.costResistance 0)}}checked{{/if}}>
            <label for="psychicDrainRechargeResistanceA">Recharge Only (0 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeResistance0" name="psychicDrainRechargeResistance" class="radio-psychic-selected-drainrecharge-dr" data-cost="2" {{#if (eq system.psychicCosts.drainrecharge.costResistance 2)}}checked{{/if}}>
            <label for="psychicDrainRechargeResistance0">Easy Magic Penalty (2 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeResistance1" name="psychicDrainRechargeResistance" class="radio-psychic-selected-drainrecharge-dr" data-cost="5" {{#if (eq system.psychicCosts.drainrecharge.costResistance 5)}}checked{{/if}}>
            <label for="psychicDrainRechargeResistance1">Moderate Magic Penalty (5 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeResistance2" name="psychicDrainRechargeResistance" class="radio-psychic-selected-drainrecharge-dr" data-cost="8" {{#if (eq system.psychicCosts.drainrecharge.costResistance 8)}}checked{{/if}}>
            <label for="psychicDrainRechargeResistance2">Hard Magic Penalty (8 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeResistance3" name="psychicDrainRechargeResistance" class="radio-psychic-selected-drainrecharge-dr" data-cost="11" {{#if (eq system.psychicCosts.drainrecharge.costResistance 11)}}checked{{/if}}>
            <label for="psychicDrainRechargeResistance3">Sheer Folly Magic Penalty (11 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeResistance4" name="psychicDrainRechargeResistance" class="radio-psychic-selected-drainrecharge-dr" data-cost="14" {{#if (eq system.psychicCosts.drainrecharge.costResistance 14)}}checked{{/if}}>
            <label for="psychicDrainRechargeResistance4">Near Impossible Magic Penalty (14 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeResistance5" name="psychicDrainRechargeResistance" class="radio-psychic-selected-drainrecharge-dr" data-cost="17" {{#if (eq system.psychicCosts.drainrecharge.costResistance 17)}}checked{{/if}}>
            <label for="psychicDrainRechargeResistance5">Impossible Magic Penalty (17 cost)</label><br/>
          </div>
          <div> 
            <span class=""><strong>Radius</strong></span><br/>
            <input type="radio" id="psychicDrainRechargeRadius0" name="psychicDrainRechargeRadius" class="radio-psychic-selected-drainrecharge-dt" data-cost="3" {{#if (eq system.psychicCosts.drainrecharge.costTarget 3)}}checked{{/if}}>
            <label for="psychicDrainRechargeRadius0">10-foot Radius Light (3 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeRadius1" name="psychicDrainRechargeRadius" class="radio-psychic-selected-drainrecharge-dt" data-cost="5" {{#if (eq system.psychicCosts.drainrecharge.costTarget 5)}}checked{{/if}}>
            <label for="psychicDrainRechargeRadius1">15-foot Radius Light (5 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeRadius2" name="psychicDrainRechargeRadius" class="radio-psychic-selected-drainrecharge-dt" data-cost="7" {{#if (eq system.psychicCosts.drainrecharge.costTarget 7)}}checked{{/if}}>
            <label for="psychicDrainRechargeRadius2">20-foot Radius Light (7 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeRadius3" name="psychicDrainRechargeRadius" class="radio-psychic-selected-drainrecharge-dt" data-cost="9" {{#if (eq system.psychicCosts.drainrecharge.costTarget 9)}}checked{{/if}}>
            <label for="psychicDrainRechargeRadius3">25-foot Radius Light (9 cost)</label><br/>
            <input type="radio" id="psychicDrainRechargeRadius4" name="psychicDrainRechargeRadius" class="radio-psychic-selected-drainrecharge-dt" data-cost="12" {{#if (eq system.psychicCosts.drainrecharge.costTarget 12)}}checked{{/if}}>
            <label for="psychicDrainRechargeRadius4">30-foot Radius Light (12 cost)</label><br/>
          </div>
        </div>
      </td>
    </tr>
    <tr class="throwelectrical">
      <td class="align-left">
        <label
          for="system.psychic.throwelectrical"
          class="resource-label flexlarge align-left hide-show-psychic"
          data-label="throwelectrical"
          data-psychic="psychic"
        >
          {{localize (lookup @root.config.psychic 'throwelectrical')}}
          <i id="rotate-throwelectrical" class="fa {{system.psychic.throwelectrical.rotate}}"></i>
        </label>
      </td>
      <td class="align-center">
        <label>[</label>
        <label for="system.psychic.throwelectrical" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.throwelectrical.attr1}}</label>
        <label>|</label>
        <label for="system.psychic.throwelectrical" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.throwelectrical.attr2}}</label>
        <label>]</label>
        <br/>
        <label for="system.psychic.throwelectrical" class="resource-label flexsmall align-center" data-label="Value">Max: {{system.psychic.throwelectrical.maxTrainingStatus}}</label>
      </td>
      <td class="align-center">
        <select id="system.psychic.throwelectrical" class="training-select-psychic" data-psychic="psychic" name="throwelectrical">
          <option value="untrained" {{#if (eq system.psychic.throwelectrical.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
          <option value="apprentice" {{#if (eq system.psychic.throwelectrical.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
          <option value="professional" {{#if (eq system.psychic.throwelectrical.trainingStatus "professional")}}selected{{/if}}>Professional</option>
          <option value="expert" {{#if (eq system.psychic.throwelectrical.trainingStatus "expert")}}selected{{/if}}>Expert</option>
          <option value="master" {{#if (eq system.psychic.throwelectrical.trainingStatus "master")}}selected{{/if}}>Master</option>
          <option value="legendary" {{#if (eq system.psychic.throwelectrical.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
        </select>
      </td>
      <td class="align-center">
        <label 
          for="system.psychic.throwelectrical"
          class="rollable resource-label flexsmall align-center"
          data-die="{{system.psychic.throwelectrical.die}}"
          data-bonus="{{system.psychic.throwelectrical.totalBonus}}"
          data-grit="{{system.derivedAbilityPools.gritDie.die}}"
          data-roll="{{system.psychic.throwelectrical.die}}+{{system.psychic.throwelectrical.totalBonus}}+{{system.derivedAbilityPools.gritDie.die}}"
          data-label="throwelectrical"
          data-rolltype="psychic-power"
          data-ability="throwelectrical">
          <div class="tooltip">
            {{#if (eq system.psychic.throwelectrical.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="throwelectrical"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.psychic.throwelectrical.die}}" data-ability="throwelectrical"></i>
            {{/if}}              
            <span class="die-word">{{system.psychic.throwelectrical.die}}{{#if system.psychic.throwelectrical.isNegBase}}{{else}}+{{/if}}{{system.psychic.throwelectrical.totalBonus}}</span>
            {{#if (eq system.derivedAbilityPools.gritDie.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="grit"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.derivedAbilityPools.gritDie.die}}" data-ability="grit"></i>
            {{/if}}
            <span class="die-word">{{system.derivedAbilityPools.gritDie.die}}</span>
            <span class="tooltiptext">
              <span class="tooltip-label">Die:</span> {{system.psychic.throwelectrical.die}}<br/>
              <span class="tooltip-label">Bonus:</span> {{system.psychic.throwelectrical.bonusMod}}<br/>
              <span class="tooltip-label">Hindrance Mod:</span> {{system.psychic.throwelectrical.hindranceMod}}<br/>
              <span class="tooltip-label">Trait Mod:</span> {{system.psychic.throwelectrical.traitMod}}<br/>
              <span class="tooltip-label">Cybernetic Mod:</span> {{system.psychic.throwelectrical.cyberMod}}<br/>
              <span class="tooltip-label">Bionetic Mod:</span> {{system.psychic.throwelectrical.bioMod}}
            </span>
          </div>
        </label>
      </td>
      <td class="align-right">
        {{#if (eq system.psychic.throwelectrical.trainingStatus "legendary")}}
        {{else}}
        <!-- Tick Success 0 - u -->
        <div class="tooltip">
        {{#if system.psychic.throwelectrical.usageTickSucc0 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc0"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc0"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 1 - u -->
        <div class="tooltip">
        {{#if system.psychic.throwelectrical.usageTickSucc1 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc1"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc1"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 2 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.throwelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.throwelectrical.usageTickSucc2 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc2"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc2"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 3 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.throwelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.throwelectrical.usageTickSucc3 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc3"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc3"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 4 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.throwelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.throwelectrical.usageTickSucc4 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc4"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc4"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 5 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.throwelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.throwelectrical.usageTickSucc5 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc5"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc5"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 6 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.throwelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.throwelectrical.usageTickSucc6 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc6"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc6"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 7 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.throwelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.throwelectrical.usageTickSucc7 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc7"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc7"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 8 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.throwelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.throwelectrical.usageTickSucc8 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc8"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc8"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 9 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.throwelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.throwelectrical.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.throwelectrical.usageTickSucc9 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc9"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="throwelectrical" data-tick="usageTickSucc9"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        {{/if}}
      </td>
    </tr>
    <tr id="table-row-throwelectrical" style="display: {{system.psychic.throwelectrical.hideShow}};">
      <td>
        <input
          type="radio"
          id="system.psychicPower.throwelectrical.selected"
          name="psychicPowerSelected"
          class="radio-selected-psychic"
          data-power="throwelectrical"
          {{#if (eq system.currentPsychicSelection.power "throwelectrical")}}checked{{/if}}
        >
        <span>Selected</span>
      </td>
      <td colspan="4">
        <div class="flexrow">
          <div>
            <span class=""><strong>Base</strong></span><br>
            <input type="radio" id="psychicThrowElectricalBase0" name="psychicThrowElectricalBase" class="radio-psychic-selected-throwelectrical-tb" data-cost="4" {{#if (eq system.psychicCosts.throwelectrical.costBase 4)}}checked{{/if}}>
            <label for="psychicThrowElectricalBase0">Base (4 cost)</label><br/>
          <br/>
            <span class=""><strong>Resistance</strong></span><br/>
            <input type="radio" id="psychicThrowElectricalResistance0" name="psychicThrowElectricalResistance" class="radio-psychic-selected-throwelectrical-tr" data-cost="2" {{#if (eq system.psychicCosts.throwelectrical.costResistance 2)}}checked{{/if}}>
            <label for="psychicThrowElectricalResistance0">Easy Magic Penalty (2 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalResistance1" name="psychicThrowElectricalResistance" class="radio-psychic-selected-throwelectrical-tr" data-cost="5" {{#if (eq system.psychicCosts.throwelectrical.costResistance 5)}}checked{{/if}}>
            <label for="psychicThrowElectricalResistance1">Moderate Magic Penalty (5 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalResistance2" name="psychicThrowElectricalResistance" class="radio-psychic-selected-throwelectrical-tr" data-cost="8" {{#if (eq system.psychicCosts.throwelectrical.costResistance 8)}}checked{{/if}}>
            <label for="psychicThrowElectricalResistance2">Hard Magic Penalty (8 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalResistance3" name="psychicThrowElectricalResistance" class="radio-psychic-selected-throwelectrical-tr" data-cost="11" {{#if (eq system.psychicCosts.throwelectrical.costResistance 11)}}checked{{/if}}>
            <label for="psychicThrowElectricalResistance3">Sheer Folly Magic Penalty (11 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalResistance4" name="psychicThrowElectricalResistance" class="radio-psychic-selected-throwelectrical-tr" data-cost="14" {{#if (eq system.psychicCosts.throwelectrical.costResistance 14)}}checked{{/if}}>
            <label for="psychicThrowElectricalResistance4">Near Impossible Magic Penalty (14 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalResistance5" name="psychicThrowElectricalResistance" class="radio-psychic-selected-throwelectrical-tr" data-cost="17" {{#if (eq system.psychicCosts.throwelectrical.costResistance 17)}}checked{{/if}}>
            <label for="psychicThrowElectricalResistance5">Impossible Magic Penalty (17 cost)</label><br/>
          </div>
          <div> 
            <span class=""><strong>Targets</strong></span><br>
            <input type="radio" id="psychicThrowElectricalTargets0" name="psychicThrowElectricalTargets" class="radio-psychic-selected-throwelectrical-tt" data-cost="3" {{#if (eq system.psychicCosts.throwelectrical.costTarget 3)}}checked{{/if}}>
            <label for="psychicThrowElectricalTargets0">Single Target (3 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalTargets1" name="psychicThrowElectricalTargets" class="radio-psychic-selected-throwelectrical-tt" data-cost="5" {{#if (eq system.psychicCosts.throwelectrical.costTarget 5)}}checked{{/if}}>
            <label for="psychicThrowElectricalTargets1">Two Targets (5 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalTargets2" name="psychicThrowElectricalTargets" class="radio-psychic-selected-throwelectrical-tt" data-cost="7" {{#if (eq system.psychicCosts.throwelectrical.costTarget 7)}}checked{{/if}}>
            <label for="psychicThrowElectricalTargets2">Three Targets (7 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalTargets3" name="psychicThrowElectricalTargets" class="radio-psychic-selected-throwelectrical-tt" data-cost="9" {{#if (eq system.psychicCosts.throwelectrical.costTarget 9)}}checked{{/if}}>
            <label for="psychicThrowElectricalTargets3">Four Target (9 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalTargets4" name="psychicThrowElectricalTargets" class="radio-psychic-selected-throwelectrical-tt" data-cost="11" {{#if (eq system.psychicCosts.throwelectrical.costTarget 11)}}checked{{/if}}>
            <label for="psychicThrowElectricalTargets4">Five Target (11 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalTargets5" name="psychicThrowElectricalTargets" class="radio-psychic-selected-throwelectrical-tt" data-cost="13" {{#if (eq system.psychicCosts.throwelectrical.costTarget 13)}}checked{{/if}}>
            <label for="psychicThrowElectricalTargets5">Six Target (13 cost)</label><br/>
          <br/>
            <span class=""><strong>Heavy</strong></span><br>
            <input type="radio" id="psychicThrowElectricalHeavy0" name="psychicThrowElectricalHeavy" class="radio-psychic-selected-throwelectrical-th" data-cost="0" {{#if (eq system.psychicCosts.throwelectrical.costHeavy 0)}}checked{{/if}}>
            <label for="psychicThrowElectricalHeavy0">No Heavy (0 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalHeavy1" name="psychicThrowElectricalHeavy" class="radio-psychic-selected-throwelectrical-th" data-cost="10" {{#if (eq system.psychicCosts.throwelectrical.costHeavy 10)}}checked{{/if}}>
            <label for="psychicThrowElectricalHeavy1">Heavy Attack (10 cost)</label><br/>
          </div>
          <div>
            <span class=""><strong>Damage Number</strong></span><br>
            <input type="radio" id="psychicThrowElectricalDamageNumber0" name="psychicThrowElectricalDamageNumber" class="radio-psychic-selected-throwelectrical-tn" data-cost="1" {{#if (eq system.psychicCosts.throwelectrical.costDamageNumber 1)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageNumber0">2 Dice (1 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalDamageNumber1" name="psychicThrowElectricalDamageNumber" class="radio-psychic-selected-throwelectrical-tn" data-cost="4" {{#if (eq system.psychicCosts.throwelectrical.costDamageNumber 4)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageNumber1">3 Dice (4 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalDamageNumber2" name="psychicThrowElectricalDamageNumber" class="radio-psychic-selected-throwelectrical-tn" data-cost="7" {{#if (eq system.psychicCosts.throwelectrical.costDamageNumber 7)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageNumber2">4 Dice (7 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalDamageNumber3" name="psychicThrowElectricalDamageNumber" class="radio-psychic-selected-throwelectrical-tn" data-cost="10" {{#if (eq system.psychicCosts.throwelectrical.costDamageNumber 10)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageNumber3">5 Dice (10 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalDamageNumber4" name="psychicThrowElectricalDamageNumber" class="radio-psychic-selected-throwelectrical-tn" data-cost="13" {{#if (eq system.psychicCosts.throwelectrical.costDamageNumber 13)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageNumber4">6 Dice (13 cost)</label><br/>
          <br/>
            <span class=""><strong>Damage Dice</strong></span><br>
            <input type="radio" id="psychicThrowElectricalDamageDice0" name="psychicThrowElectricalDamageDice" class="radio-psychic-selected-throwelectrical-td" data-cost="1" {{#if (eq system.psychicCosts.throwelectrical.costDamageDice 1)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageDice0">d4 (1 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalDamageDice1" name="psychicThrowElectricalDamageDice" class="radio-psychic-selected-throwelectrical-td" data-cost="5" {{#if (eq system.psychicCosts.throwelectrical.costDamageDice 5)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageDice1">d6 (5 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalDamageDice2" name="psychicThrowElectricalDamageDice" class="radio-psychic-selected-throwelectrical-td" data-cost="9" {{#if (eq system.psychicCosts.throwelectrical.costDamageDice 9)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageDice2">d8 (9 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalDamageDice3" name="psychicThrowElectricalDamageDice" class="radio-psychic-selected-throwelectrical-td" data-cost="13" {{#if (eq system.psychicCosts.throwelectrical.costDamageDice 13)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageDice3">d10 (13 cost)</label><br/>
            <input type="radio" id="psychicThrowElectricalDamageDice4" name="psychicThrowElectricalDamageDice" class="radio-psychic-selected-throwelectrical-td" data-cost="17" {{#if (eq system.psychicCosts.throwelectrical.costDamageDice 17)}}checked{{/if}}>
            <label for="psychicThrowElectricalDamageDice4">d12 (17 cost)</label><br/>
          </div>
        </div>
      </td>
    </tr>
    <tr class="shieldelectrical">
      <td class="align-left">
        <label
          for="system.psychic.shieldelectrical"
          class="resource-label flexlarge align-left hide-show-psychic"
          data-label="shieldelectrical"
          data-psychic="psychic"
        >
          {{localize (lookup @root.config.psychic 'shieldelectrical')}}
          <i id="rotate-shieldelectrical" class="fa {{system.psychic.shieldelectrical.rotate}}"></i>
        </label>
      </td>
      <td class="align-center">
        <label>[</label>
        <label for="system.psychic.shieldelectrical" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.shieldelectrical.attr1}}</label>
        <label>|</label>
        <label for="system.psychic.shieldelectrical" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.shieldelectrical.attr2}}</label>
        <label>]</label>
        <br/>
        <label for="system.psychic.shieldelectrical" class="resource-label flexsmall align-center" data-label="Value">Max: {{system.psychic.shieldelectrical.maxTrainingStatus}}</label>
      </td>
      <td class="align-center">
        <select id="system.psychic.shieldelectrical" class="training-select-psychic" data-psychic="psychic" name="shieldelectrical">
          <option value="untrained" {{#if (eq system.psychic.shieldelectrical.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
          <option value="apprentice" {{#if (eq system.psychic.shieldelectrical.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
          <option value="professional" {{#if (eq system.psychic.shieldelectrical.trainingStatus "professional")}}selected{{/if}}>Professional</option>
          <option value="expert" {{#if (eq system.psychic.shieldelectrical.trainingStatus "expert")}}selected{{/if}}>Expert</option>
          <option value="master" {{#if (eq system.psychic.shieldelectrical.trainingStatus "master")}}selected{{/if}}>Master</option>
          <option value="legendary" {{#if (eq system.psychic.shieldelectrical.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
        </select>
      </td>
      <td class="align-center">
        <label 
          for="system.psychic.shieldelectrical"
          class="rollable resource-label flexsmall align-center"
          data-die="{{system.psychic.shieldelectrical.die}}"
          data-bonus="{{system.psychic.shieldelectrical.totalBonus}}"
          data-grit="{{system.derivedAbilityPools.gritDie.die}}"
          data-roll="{{system.psychic.shieldelectrical.die}}+{{system.psychic.shieldelectrical.totalBonus}}+{{system.derivedAbilityPools.gritDie.die}}"
          data-label="shieldelectrical"
          data-rolltype="psychic-power"
          data-ability="shieldelectrical">
          <div class="tooltip">
            {{#if (eq system.psychic.shieldelectrical.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="shieldelectrical"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.psychic.shieldelectrical.die}}" data-ability="shieldelectrical"></i>
            {{/if}}              
            <span class="die-word">{{system.psychic.shieldelectrical.die}}{{#if system.psychic.shieldelectrical.isNegBase}}{{else}}+{{/if}}{{system.psychic.shieldelectrical.totalBonus}}</span>
            {{#if (eq system.derivedAbilityPools.gritDie.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="grit"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.derivedAbilityPools.gritDie.die}}" data-ability="grit"></i>
            {{/if}}
            <span class="die-word">{{system.derivedAbilityPools.gritDie.die}}</span>
            <span class="tooltiptext">
              <span class="tooltip-label">Die:</span> {{system.psychic.shieldelectrical.die}}<br/>
              <span class="tooltip-label">Bonus:</span> {{system.psychic.shieldelectrical.bonusMod}}<br/>
              <span class="tooltip-label">Hindrance Mod:</span> {{system.psychic.shieldelectrical.hindranceMod}}<br/>
              <span class="tooltip-label">Trait Mod:</span> {{system.psychic.shieldelectrical.traitMod}}<br/>
              <span class="tooltip-label">Cybernetic Mod:</span> {{system.psychic.shieldelectrical.cyberMod}}<br/>
              <span class="tooltip-label">Bionetic Mod:</span> {{system.psychic.shieldelectrical.bioMod}}
            </span>
          </div>
        </label>
      </td>
      <td class="align-right">
        {{#if (eq system.psychic.shieldelectrical.trainingStatus "legendary")}}
        {{else}}
        <!-- Tick Success 0 - u -->
        <div class="tooltip">
        {{#if system.psychic.shieldelectrical.usageTickSucc0 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc0"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc0"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 1 - u -->
        <div class="tooltip">
        {{#if system.psychic.shieldelectrical.usageTickSucc1 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc1"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc1"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 2 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.shieldelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.shieldelectrical.usageTickSucc2 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc2"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc2"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 3 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.shieldelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.shieldelectrical.usageTickSucc3 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc3"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc3"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 4 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.shieldelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.shieldelectrical.usageTickSucc4 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc4"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc4"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 5 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.shieldelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.shieldelectrical.usageTickSucc5 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc5"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc5"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 6 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.shieldelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.shieldelectrical.usageTickSucc6 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc6"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc6"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 7 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.shieldelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.shieldelectrical.usageTickSucc7 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc7"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc7"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 8 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.shieldelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.shieldelectrical.usageTickSucc8 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc8"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc8"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 9 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.shieldelectrical.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.shieldelectrical.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.shieldelectrical.usageTickSucc9 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc9"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="shieldelectrical" data-tick="usageTickSucc9"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        {{/if}}
      </td>
    </tr>
    <tr id="table-row-shieldelectrical" style="display: {{system.psychic.shieldelectrical.hideShow}};">
      <td>
        <input
          type="radio"
          id="system.psychicPower.shieldelectrical.selected"
          name="psychicPowerSelected"
          class="radio-selected-psychic"
          data-power="shieldelectrical"
          {{#if (eq system.currentPsychicSelection.power "shieldelectrical")}}checked{{/if}}
        >
        <span>Selected</span>
      </td>
      <td colspan="4">
        <div class="flexrow">
          <div>
            <span class=""><strong>Base</strong></span><br>
            <input type="radio" id="psychicShieldElectricalBase0" name="psychicShieldElectricalBase" class="radio-psychic-selected-shieldelectrical-sb" data-cost="4" {{#if (eq system.psychicCosts.shieldelectrical.costBase 4)}}checked{{/if}}>
            <label for="psychicShieldElectricalBase0">Base (4 cost)</label><br/>
          <br/>
            <span class=""><strong>Armor Rating</strong></span><br/>
            <input type="radio" id="psychicShieldElectricalArmorRating0" name="psychicShieldElectricalArmorRating" class="radio-psychic-selected-shieldelectrical-sa" data-cost="3" {{#if (eq system.psychicCosts.shieldelectrical.costArmorRating 3)}}checked{{/if}}>
            <label for="psychicShieldElectricalArmorRating0">2 Armor Rating (3 cost)</label><br/>
            <input type="radio" id="psychicShieldElectricalArmorRating1" name="psychicShieldElectricalArmorRating" class="radio-psychic-selected-shieldelectrical-sa" data-cost="6" {{#if (eq system.psychicCosts.shieldelectrical.costArmorRating 6)}}checked{{/if}}>
            <label for="psychicShieldElectricalArmorRating1">3 Armor Rating (6 cost)</label><br/>
            <input type="radio" id="psychicShieldElectricalArmorRating2" name="psychicShieldElectricalArmorRating" class="radio-psychic-selected-shieldelectrical-sa" data-cost="9" {{#if (eq system.psychicCosts.shieldelectrical.costArmorRating 9)}}checked{{/if}}>
            <label for="psychicShieldElectricalArmorRating2">4 Armor Rating (9 cost)</label><br/>
            <input type="radio" id="psychicShieldElectricalArmorRating3" name="psychicShieldElectricalArmorRating" class="radio-psychic-selected-shieldelectrical-sa" data-cost="12" {{#if (eq system.psychicCosts.shieldelectrical.costArmorRating 12)}}checked{{/if}}>
            <label for="psychicShieldElectricalArmorRating3">5 Armor Rating (12 cost)</label><br/>
            <input type="radio" id="psychicShieldElectricalArmorRating4" name="psychicShieldElectricalArmorRating" class="radio-psychic-selected-shieldelectrical-sa" data-cost="15" {{#if (eq system.psychicCosts.shieldelectrical.costArmorRating 15)}}checked{{/if}}>
            <label for="psychicShieldElectricalArmorRating4">6 Armor Rating (15 cost)</label><br/>
            <input type="radio" id="psychicShieldElectricalArmorRating5" name="psychicShieldElectricalArmorRating" class="radio-psychic-selected-shieldelectrical-sa" data-cost="18" {{#if (eq system.psychicCosts.shieldelectrical.costArmorRating 18)}}checked{{/if}}>
            <label for="psychicShieldElectricalArmorRating5">7 Armor Rating (18 cost)</label><br/>
            <input type="radio" id="psychicShieldElectricalArmorRating6" name="psychicShieldElectricalArmorRating" class="radio-psychic-selected-shieldelectrical-sa" data-cost="21" {{#if (eq system.psychicCosts.shieldelectrical.costArmorRating 21)}}checked{{/if}}>
            <label for="psychicShieldElectricalArmorRating6">8 Armor Rating (21 cost)</label><br/>
          </div>
          <div>
            <span class=""><strong>Heavy Armor</strong></span><br>
            <input type="radio" id="psychicShieldElectricalHeavyArmor0" name="psychicShieldElectricalHeavyArmor" class="radio-psychic-selected-shieldelectrical-sh" data-cost="0" {{#if (eq system.psychicCosts.shieldelectrical.costHeavy 0)}}checked{{/if}}>
            <label for="psychicShieldElectricalHeavyArmor0">No Heavy Armor (0 cost)</label><br/>
            <input type="radio" id="psychicShieldElectricalHeavyArmor1" name="psychicShieldElectricalHeavyArmor" class="radio-psychic-selected-shieldelectrical-sh" data-cost="10" {{#if (eq system.psychicCosts.shieldelectrical.costHeavy 10)}}checked{{/if}}>
            <label for="psychicShieldElectricalHeavyArmor1">Heavy Armor (10 cost)</label><br/>
          <br/>
            <span class=""><strong>Duration</strong></span><br>
            <input type="radio" id="psychicShieldElectricalDuration0" name="psychicShieldElectricalDuration" class="radio-psychic-selected-shieldelectrical-sd" data-cost="1" {{#if (eq system.psychicCosts.shieldelectrical.costDuration 1)}}checked{{/if}}>
            <label for="psychicShieldElectricalDuration0">1 minute x TB (1 cost)</label><br/>
            <input type="radio" id="psychicShieldElectricalDuration1" name="psychicShieldElectricalDuration" class="radio-psychic-selected-shieldelectrical-sd" data-cost="3" {{#if (eq system.psychicCosts.shieldelectrical.costDuration 3)}}checked{{/if}}>
            <label for="psychicShieldElectricalDuration1">10 minutes x TB (3 cost)</label><br/>
            <input type="radio" id="psychicShieldElectricalDuration2" name="psychicShieldElectricalDuration" class="radio-psychic-selected-shieldelectrical-sd" data-cost="6" {{#if (eq system.psychicCosts.shieldelectrical.costDuration 6)}}checked{{/if}}>
            <label for="psychicShieldElectricalDuration2">1 hour x TB (6 cost)</label><br/>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>