<table>
  <thead>
    <tr>
      <th>Psychic</th>
      <th>Abilities</th>
      <th>Training</th>
      <th>Die / Bonus</th>
      <th>Usage Ticks</th>
    </tr>
  </thead>
  <tbody>
    <tr class="power-type">
      <td><h4><strong>Mind</strong></h4></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="illusion">
      <td class="align-left">
        <label
          for="system.psychic.illusion"
          class="resource-label flexlarge align-left hide-show-psychic"
          data-label="{{localize (lookup @root.config.psychic 'illusion')}}"
          data-psychic="psychic"
        >
          {{localize (lookup @root.config.psychic 'illusion')}}
          <i id="rotate-illusion" class="fa {{system.psychic.illusion.rotate}}"></i>
        </label>
      </td>
      <td class="align-center">
        <label>[</label>
        <label for="system.psychic.illusion" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.illusion.attr1}}</label>
        <label>|</label>
        <label for="system.psychic.illusion" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.illusion.attr2}}</label>
        <label>]</label>
        <br/>
        <label for="system.psychic.illusion" class="resource-label flexsmall align-center" data-label="Value">Max: {{system.psychic.illusion.maxTrainingStatus}}</label>
      </td>
      <td class="align-center">
        <select id="system.psychic.illusion" class="training-select-psychic" data-psychic="psychic" name="illusion">
          <option value="untrained" {{#if (eq system.psychic.illusion.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
          <option value="apprentice" {{#if (eq system.psychic.illusion.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
          <option value="professional" {{#if (eq system.psychic.illusion.trainingStatus "professional")}}selected{{/if}}>Professional</option>
          <option value="expert" {{#if (eq system.psychic.illusion.trainingStatus "expert")}}selected{{/if}}>Expert</option>
          <option value="master" {{#if (eq system.psychic.illusion.trainingStatus "master")}}selected{{/if}}>Master</option>
          <option value="legendary" {{#if (eq system.psychic.illusion.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
        </select>
      </td>
      <td class="align-center">
        <label 
          for="system.psychic.illusion"
          class="rollable resource-label flexsmall align-center"
          data-die="{{system.psychic.illusion.die}}"
          data-bonus="{{system.psychic.illusion.totalBonus}}"
          data-grit="{{system.derivedAbilityPools.gritDie.die}}"
          data-roll="{{system.psychic.illusion.die}}+{{system.psychic.illusion.totalBonus}}+{{system.derivedAbilityPools.gritDie.die}}"
          data-label="{{localize (lookup @root.config.psychic 'illusion')}}"
          data-rolltype="psychic-power"
          data-ability="illusion">
          <div class="tooltip">
            {{#if (eq system.psychic.illusion.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="illusion"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.psychic.illusion.die}}" data-ability="illusion"></i>
            {{/if}}              
            <span class="die-word">{{system.psychic.illusion.die}}{{#if system.psychic.illusion.isNegBase}}{{else}}+{{/if}}{{system.psychic.illusion.totalBonus}}</span>
            {{#if (eq system.derivedAbilityPools.gritDie.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="grit"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.derivedAbilityPools.gritDie.die}}" data-ability="grit"></i>
            {{/if}}
            <span class="die-word">{{system.derivedAbilityPools.gritDie.die}}</span>
            <span class="tooltiptext">
              <span class="tooltip-label">Die:</span> {{system.psychic.illusion.die}}<br/>
              <span class="tooltip-label">Bonus:</span> {{system.psychic.illusion.bonusMod}}<br/>
              <span class="tooltip-label">Hindrance Mod:</span> {{system.psychic.illusion.hindranceMod}}<br/>
              <span class="tooltip-label">Trait Mod:</span> {{system.psychic.illusion.traitMod}}<br/>
              <span class="tooltip-label">Cybernetic Mod:</span> {{system.psychic.illusion.cyberMod}}<br/>
              <span class="tooltip-label">Bionetic Mod:</span> {{system.psychic.illusion.bioMod}}
            </span>
          </div>
        </label>
      </td>
      <td class="align-right">
        {{#if (eq system.psychic.illusion.trainingStatus "legendary")}}
        {{else}}
        <!-- Tick Success 0 - u -->
        <div class="tooltip">
        {{#if system.psychic.illusion.usageTickSucc0 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc0"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc0"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 1 - u -->
        <div class="tooltip">
        {{#if system.psychic.illusion.usageTickSucc1 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc1"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc1"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 2 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.illusion.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.illusion.usageTickSucc2 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc2"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc2"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 3 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.illusion.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.illusion.usageTickSucc3 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc3"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc3"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 4 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.illusion.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.illusion.usageTickSucc4 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc4"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc4"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 5 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.illusion.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.illusion.usageTickSucc5 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc5"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc5"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 6 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.illusion.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.illusion.usageTickSucc6 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc6"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc6"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 7 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.illusion.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.illusion.usageTickSucc7 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc7"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc7"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 8 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.illusion.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.illusion.usageTickSucc8 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc8"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc8"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 9 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.illusion.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.illusion.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.illusion.usageTickSucc9 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc9"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="illusion" data-tick="usageTickSucc9"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        {{/if}}
      </td>
    </tr>
    <tr id="table-row-illusion" style="display: {{system.psychic.illusion.hideShow}};">
      <td>
        <input
          type="radio"
          id="system.psychicPower.illusion.selected"
          name="psychicPowerSelected"
          class="radio-selected-psychic"
          data-power="illusion"
          {{#if (eq system.currentPsychicSelection.power "illusion")}}checked{{/if}}
        >
        <span>Selected</span>
      </td>
      <td colspan="4">
        <div class="flexrow">
          <div>
            <span class=""><strong>Base</strong></span><br>
            <input type="radio" id="psychicIllusionBase0" name="psychicIllusionBase" class="radio-psychic-selected-illusion-ib" data-cost="6" {{#if (eq system.psychicCosts.illusion.costBase 6)}}checked{{/if}}>
            <label for="psychicIllusionBase0">Base (6 cost)</label><br/>
          <br/>
            <span class=""><strong>Resistance</strong></span><br/>
            <input type="radio" id="psychicIllusionResistance0" name="psychicIllusionResistance" class="radio-psychic-selected-illusion-ir" data-cost="2" {{#if (eq system.psychicCosts.illusion.costResistance 2)}}checked{{/if}}>
            <label for="psychicIllusionResistance0">Easy Magic Penalty (2 cost)</label><br/>
            <input type="radio" id="psychicIllusionResistance1" name="psychicIllusionResistance" class="radio-psychic-selected-illusion-ir" data-cost="5" {{#if (eq system.psychicCosts.illusion.costResistance 5)}}checked{{/if}}>
            <label for="psychicIllusionResistance1">Moderate Magic Penalty (5 cost)</label><br/>
            <input type="radio" id="psychicIllusionResistance2" name="psychicIllusionResistance" class="radio-psychic-selected-illusion-ir" data-cost="8" {{#if (eq system.psychicCosts.illusion.costResistance 8)}}checked{{/if}}>
            <label for="psychicIllusionResistance2">Hard Magic Penalty (8 cost)</label><br/>
            <input type="radio" id="psychicIllusionResistance3" name="psychicIllusionResistance" class="radio-psychic-selected-illusion-ir" data-cost="11" {{#if (eq system.psychicCosts.illusion.costResistance 11)}}checked{{/if}}>
            <label for="psychicIllusionResistance3">Sheer Folly Magic Penalty (11 cost)</label><br/>
            <input type="radio" id="psychicIllusionResistance4" name="psychicIllusionResistance" class="radio-psychic-selected-illusion-ir" data-cost="14" {{#if (eq system.psychicCosts.illusion.costResistance 14)}}checked{{/if}}>
            <label for="psychicIllusionResistance4">Near Impossible Magic Penalty (14 cost)</label><br/>
            <input type="radio" id="psychicIllusionResistance5" name="psychicIllusionResistance" class="radio-psychic-selected-illusion-ir" data-cost="17" {{#if (eq system.psychicCosts.illusion.costResistance 17)}}checked{{/if}}>
            <label for="psychicIllusionResistance5">Impossible Magic Penalty (17 cost)</label><br/>
          </div>
          <div> 
            <span class=""><strong>Duration</strong></span><br>
            <input type="radio" id="psychicIllusionDuration0" name="psychicIllusionDuration" class="radio-psychic-selected-illusion-id" data-cost="1" {{#if (eq system.psychicCosts.illusion.costDuration 1)}}checked{{/if}}>
            <label for="psychicIllusionDuration0">1 minute x TB (1 cost)</label><br/>
            <input type="radio" id="psychicIllusionDuration1" name="psychicIllusionDuration" class="radio-psychic-selected-illusion-id" data-cost="3" {{#if (eq system.psychicCosts.illusion.costDuration 3)}}checked{{/if}}>
            <label for="psychicIllusionDuration1">10 minutes x TB (3 cost)</label><br/>
            <input type="radio" id="psychicIllusionDuration2" name="psychicIllusionDuration" class="radio-psychic-selected-illusion-id" data-cost="6" {{#if (eq system.psychicCosts.illusion.costDuration 6)}}checked{{/if}}>
            <label for="psychicIllusionDuration2">1 hour x TB (6 cost)</label><br/>
          <br/>
            <span class=""><strong>Targets</strong></span><br>
            <input type="radio" id="psychicIllusionTargets0" name="psychicIllusionTargets" class="radio-psychic-selected-illusion-it" data-cost="3" {{#if (eq system.psychicCosts.illusion.costTarget 3)}}checked{{/if}}>
            <label for="psychicIllusionTargets0">Single Target (3 cost)</label><br/>
            <input type="radio" id="psychicIllusionTargets1" name="psychicIllusionTargets" class="radio-psychic-selected-illusion-it" data-cost="5" {{#if (eq system.psychicCosts.illusion.costTarget 5)}}checked{{/if}}>
            <label for="psychicIllusionTargets1">Two Targets (5 cost)</label><br/>
            <input type="radio" id="psychicIllusionTargets2" name="psychicIllusionTargets" class="radio-psychic-selected-illusion-it" data-cost="7" {{#if (eq system.psychicCosts.illusion.costTarget 7)}}checked{{/if}}>
            <label for="psychicIllusionTargets2">Three Targets (7 cost)</label><br/>
            <input type="radio" id="psychicIllusionTargets3" name="psychicIllusionTargets" class="radio-psychic-selected-illusion-it" data-cost="9" {{#if (eq system.psychicCosts.illusion.costTarget 9)}}checked{{/if}}>
            <label for="psychicIllusionTargets3">Four Target (9 cost)</label><br/>
            <input type="radio" id="psychicIllusionTargets4" name="psychicIllusionTargets" class="radio-psychic-selected-illusion-it" data-cost="11" {{#if (eq system.psychicCosts.illusion.costTarget 11)}}checked{{/if}}>
            <label for="psychicIllusionTargets4">Five Target (11 cost)</label><br/>
            <input type="radio" id="psychicIllusionTargets5" name="psychicIllusionTargets" class="radio-psychic-selected-illusion-it" data-cost="13" {{#if (eq system.psychicCosts.illusion.costTarget 13)}}checked{{/if}}>
            <label for="psychicIllusionTargets5">Six Target (13 cost)</label><br/>
          </div>
        </div>
      </td>
    </tr>
    <tr class="wipe">
      <td class="align-left">
        <label
          for="system.psychic.wipe"
          class="resource-label flexlarge align-left hide-show-psychic"
          data-label="{{localize (lookup @root.config.psychic 'wipe')}}"
          data-psychic="psychic"
        >
          {{localize (lookup @root.config.psychic 'wipe')}}
          <i id="rotate-wipe" class="fa {{system.psychic.wipe.rotate}}"></i>
        </label>
      </td>
      <td class="align-center">
        <label>[</label>
        <label for="system.psychic.wipe" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.wipe.attr1}}</label>
        <label>|</label>
        <label for="system.psychic.wipe" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.wipe.attr2}}</label>
        <label>]</label>
        <br/>
        <label for="system.psychic.wipe" class="resource-label flexsmall align-center" data-label="Value">Max: {{system.psychic.wipe.maxTrainingStatus}}</label>
      </td>
      <td class="align-center">
        <select id="system.psychic.wipe" class="training-select-psychic" data-psychic="psychic" name="wipe">
          <option value="untrained" {{#if (eq system.psychic.wipe.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
          <option value="apprentice" {{#if (eq system.psychic.wipe.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
          <option value="professional" {{#if (eq system.psychic.wipe.trainingStatus "professional")}}selected{{/if}}>Professional</option>
          <option value="expert" {{#if (eq system.psychic.wipe.trainingStatus "expert")}}selected{{/if}}>Expert</option>
          <option value="master" {{#if (eq system.psychic.wipe.trainingStatus "master")}}selected{{/if}}>Master</option>
          <option value="legendary" {{#if (eq system.psychic.wipe.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
        </select>
      </td>
      <td class="align-center">
        <label 
          for="system.psychic.wipe"
          class="rollable resource-label flexsmall align-center"
          data-die="{{system.psychic.wipe.die}}"
          data-bonus="{{system.psychic.wipe.totalBonus}}"
          data-grit="{{system.derivedAbilityPools.gritDie.die}}"
          data-roll="{{system.psychic.wipe.die}}+{{system.psychic.wipe.totalBonus}}+{{system.derivedAbilityPools.gritDie.die}}"
          data-label="{{localize (lookup @root.config.psychic 'wipe')}}"
          data-rolltype="psychic-power"
          data-ability="wipe">
          <div class="tooltip">
            {{#if (eq system.psychic.wipe.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="wipe"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.psychic.wipe.die}}" data-ability="wipe"></i>
            {{/if}}              
            <span class="die-word">{{system.psychic.wipe.die}}{{#if system.psychic.wipe.isNegBase}}{{else}}+{{/if}}{{system.psychic.wipe.totalBonus}}</span>
            {{#if (eq system.derivedAbilityPools.gritDie.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="grit"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.derivedAbilityPools.gritDie.die}}" data-ability="grit"></i>
            {{/if}}
            <span class="die-word">{{system.derivedAbilityPools.gritDie.die}}</span>
            <span class="tooltiptext">
              <span class="tooltip-label">Die:</span> {{system.psychic.wipe.die}}<br/>
              <span class="tooltip-label">Bonus:</span> {{system.psychic.wipe.bonusMod}}<br/>
              <span class="tooltip-label">Hindrance Mod:</span> {{system.psychic.wipe.hindranceMod}}<br/>
              <span class="tooltip-label">Trait Mod:</span> {{system.psychic.wipe.traitMod}}<br/>
              <span class="tooltip-label">Cybernetic Mod:</span> {{system.psychic.wipe.cyberMod}}<br/>
              <span class="tooltip-label">Bionetic Mod:</span> {{system.psychic.wipe.bioMod}}
            </span>
          </div>
        </label>
      </td>
      <td class="align-right">
        {{#if (eq system.psychic.wipe.trainingStatus "legendary")}}
        {{else}}
        <!-- Tick Success 0 - u -->
        <div class="tooltip">
        {{#if system.psychic.wipe.usageTickSucc0 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc0"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc0"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 1 - u -->
        <div class="tooltip">
        {{#if system.psychic.wipe.usageTickSucc1 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc1"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc1"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 2 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.wipe.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.wipe.usageTickSucc2 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc2"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc2"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 3 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.wipe.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.wipe.usageTickSucc3 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc3"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc3"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 4 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.wipe.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.wipe.usageTickSucc4 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc4"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc4"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 5 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.wipe.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.wipe.usageTickSucc5 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc5"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc5"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 6 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.wipe.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.wipe.usageTickSucc6 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc6"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc6"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 7 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.wipe.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.wipe.usageTickSucc7 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc7"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc7"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 8 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.wipe.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.wipe.usageTickSucc8 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc8"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc8"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 9 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.wipe.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.wipe.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.wipe.usageTickSucc9 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc9"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="wipe" data-tick="usageTickSucc9"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        {{/if}}
      </td>
    </tr>
    <tr id="table-row-wipe" style="display: {{system.psychic.wipe.hideShow}};">
      <td>
        <input
          type="radio"
          id="system.psychicPower.wipe.selected"
          name="psychicPowerSelected"
          class="radio-selected-psychic"
          data-power="wipe"
          {{#if (eq system.currentPsychicSelection.power "wipe")}}checked{{/if}}
        >
        <span>Selected</span>
      </td>
      <td colspan="4">
        <div class="flexrow">
          <div>
            <span class=""><strong>Base</strong></span><br>
            <input type="radio" id="psychicWipeBase0" name="psychicWipeBase" class="radio-psychic-selected-wipe-wb" data-cost="6" {{#if (eq system.psychicCosts.wipe.costBase 6)}}checked{{/if}}>
            <label for="psychicWipeBase0">Base (6 cost)</label><br/>
          <br/>
            <span class=""><strong>Resistance</strong></span><br/>
            <input type="radio" id="psychicWipeResistance0" name="psychicWipeResistance" class="radio-psychic-selected-wipe-wr" data-cost="2" {{#if (eq system.psychicCosts.wipe.costResistance 2)}}checked{{/if}}>
            <label for="psychicWipeResistance0">Easy Magic Penalty (2 cost)</label><br/>
            <input type="radio" id="psychicWipeResistance1" name="psychicWipeResistance" class="radio-psychic-selected-wipe-wr" data-cost="5" {{#if (eq system.psychicCosts.wipe.costResistance 5)}}checked{{/if}}>
            <label for="psychicWipeResistance1">Moderate Magic Penalty (5 cost)</label><br/>
            <input type="radio" id="psychicWipeResistance2" name="psychicWipeResistance" class="radio-psychic-selected-wipe-wr" data-cost="8" {{#if (eq system.psychicCosts.wipe.costResistance 8)}}checked{{/if}}>
            <label for="psychicWipeResistance2">Hard Magic Penalty (8 cost)</label><br/>
            <input type="radio" id="psychicWipeResistance3" name="psychicWipeResistance" class="radio-psychic-selected-wipe-wr" data-cost="11" {{#if (eq system.psychicCosts.wipe.costResistance 11)}}checked{{/if}}>
            <label for="psychicWipeResistance3">Sheer Folly Magic Penalty (11 cost)</label><br/>
            <input type="radio" id="psychicWipeResistance4" name="psychicWipeResistance" class="radio-psychic-selected-wipe-wr" data-cost="14" {{#if (eq system.psychicCosts.wipe.costResistance 14)}}checked{{/if}}>
            <label for="psychicWipeResistance4">Near Impossible Magic Penalty (14 cost)</label><br/>
            <input type="radio" id="psychicWipeResistance5" name="psychicWipeResistance" class="radio-psychic-selected-wipe-wr" data-cost="17" {{#if (eq system.psychicCosts.wipe.costResistance 17)}}checked{{/if}}>
            <label for="psychicWipeResistance5">Impossible Magic Penalty (17 cost)</label><br/>
          <br/>
            <span class=""><strong>How Far Back</strong></span><br>
            <input type="radio" id="psychicWipeHowFarBack0" name="psychicWipeHowFarBack" class="radio-psychic-selected-wipe-wh" data-cost="6" {{#if (eq system.psychicCosts.wipe.costBack 6)}}checked{{/if}}>
            <label for="psychicWipeHowFarBack0">1 hour x TB (6 cost)</label><br/>
            <input type="radio" id="psychicWipeHowFarBack1" name="psychicWipeHowFarBack" class="radio-psychic-selected-wipe-wh" data-cost="12" {{#if (eq system.psychicCosts.wipe.costBack 12)}}checked{{/if}}> 
            <label for="psychicWipeHowFarBack1">1 day x TB (12 cost)</label><br/>
            <input type="radio" id="psychicWipeHowFarBack2" name="psychicWipeHowFarBack" class="radio-psychic-selected-wipe-wh" data-cost="18" {{#if (eq system.psychicCosts.wipe.costBack 18)}}checked{{/if}}>
            <label for="psychicWipeHowFarBack2">1 week x TB (18 cost)</label><br/>
            <input type="radio" id="psychicWipeHowFarBack3" name="psychicWipeHowFarBack" class="radio-psychic-selected-wipe-wh" data-cost="24" {{#if (eq system.psychicCosts.wipe.costBack 24)}}checked{{/if}}>
            <label for="psychicWipeHowFarBack3">1 month x TB (24 cost)</label><br/>
          </div>
          <div> 
            <span class=""><strong>Time</strong></span><br>
            <input type="radio" id="psychicWipeDuration0" name="psychicWipeDuration" class="radio-psychic-selected-wipe-wd" data-cost="1" {{#if (eq system.psychicCosts.wipe.costDuration 1)}}checked{{/if}}>
            <label for="psychicWipeDuration0">1 minute x TB (1 cost)</label><br/>
            <input type="radio" id="psychicWipeDuration1" name="psychicWipeDuration" class="radio-psychic-selected-wipe-wd" data-cost="3" {{#if (eq system.psychicCosts.wipe.costDuration 3)}}checked{{/if}}>
            <label for="psychicWipeDuration1">10 minutes x TB (3 cost)</label><br/>
            <input type="radio" id="psychicWipeDuration2" name="psychicWipeDuration" class="radio-psychic-selected-wipe-wd" data-cost="6" {{#if (eq system.psychicCosts.wipe.costDuration 6)}}checked{{/if}}>
            <label for="psychicWipeDuration2">1 hour x TB (6 cost)</label><br/>
          <br/>
            <span class=""><strong>Targets</strong></span><br>
            <input type="radio" id="psychicWipeTargets0" name="psychicWipeTargets" class="radio-psychic-selected-wipe-wt" data-cost="3" {{#if (eq system.psychicCosts.wipe.costTarget 3)}}checked{{/if}}>
            <label for="psychicWipeTargets0">Single Target (3 cost)</label><br/>
            <input type="radio" id="psychicWipeTargets1" name="psychicWipeTargets" class="radio-psychic-selected-wipe-wt" data-cost="5" {{#if (eq system.psychicCosts.wipe.costTarget 5)}}checked{{/if}}>
            <label for="psychicWipeTargets1">Two Targets (5 cost)</label><br/>
            <input type="radio" id="psychicWipeTargets2" name="psychicWipeTargets" class="radio-psychic-selected-wipe-wt" data-cost="7" {{#if (eq system.psychicCosts.wipe.costTarget 7)}}checked{{/if}}>
            <label for="psychicWipeTargets2">Three Targets (7 cost)</label><br/>
            <input type="radio" id="psychicWipeTargets3" name="psychicWipeTargets" class="radio-psychic-selected-wipe-wt" data-cost="9" {{#if (eq system.psychicCosts.wipe.costTarget 9)}}checked{{/if}}>
            <label for="psychicWipeTargets3">Four Target (9 cost)</label><br/>
            <input type="radio" id="psychicWipeTargets4" name="psychicWipeTargets" class="radio-psychic-selected-wipe-wt" data-cost="11" {{#if (eq system.psychicCosts.wipe.costTarget 11)}}checked{{/if}}>
            <label for="psychicWipeTargets4">Five Target (11 cost)</label><br/>
            <input type="radio" id="psychicWipeTargets5" name="psychicWipeTargets" class="radio-psychic-selected-wipe-wt" data-cost="13" {{#if (eq system.psychicCosts.wipe.costTarget 13)}}checked{{/if}}>
            <label for="psychicWipeTargets5">Six Target (13 cost)</label><br/>
          </div>
        </div>
      </td>
    </tr>
    <tr class="modify">
      <td class="align-left">
        <label
          for="system.psychic.modify"
          class="resource-label flexlarge align-left hide-show-psychic"
          data-label="{{localize (lookup @root.config.psychic 'modify')}}"
          data-psychic="psychic"
        >
          {{localize (lookup @root.config.psychic 'modify')}}
          <i id="rotate-modify" class="fa {{system.psychic.modify.rotate}}"></i>
        </label>
      </td>
      <td class="align-center">
        <label>[</label>
        <label for="system.psychic.modify" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.modify.attr1}}</label>
        <label>|</label>
        <label for="system.psychic.modify" class="resource-label flexsmall align-center" data-label="Value">{{system.psychic.modify.attr2}}</label>
        <label>]</label>
        <br/>
        <label for="system.psychic.modify" class="resource-label flexsmall align-center" data-label="Value">Max: {{system.psychic.modify.maxTrainingStatus}}</label>
      </td>
      <td class="align-center">
        <select id="system.psychic.modify" class="training-select-psychic" data-psychic="psychic" name="modify">
          <option value="untrained" {{#if (eq system.psychic.modify.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
          <option value="apprentice" {{#if (eq system.psychic.modify.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
          <option value="professional" {{#if (eq system.psychic.modify.trainingStatus "professional")}}selected{{/if}}>Professional</option>
          <option value="expert" {{#if (eq system.psychic.modify.trainingStatus "expert")}}selected{{/if}}>Expert</option>
          <option value="master" {{#if (eq system.psychic.modify.trainingStatus "master")}}selected{{/if}}>Master</option>
          <option value="legendary" {{#if (eq system.psychic.modify.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
        </select>
      </td>
      <td class="align-center">
        <label 
          for="system.psychic.modify"
          class="rollable resource-label flexsmall align-center"
          data-die="{{system.psychic.modify.die}}"
          data-bonus="{{system.psychic.modify.totalBonus}}"
          data-grit="{{system.derivedAbilityPools.gritDie.die}}"
          data-roll="{{system.psychic.modify.die}}+{{system.psychic.modify.totalBonus}}+{{system.derivedAbilityPools.gritDie.die}}"
          data-label="{{localize (lookup @root.config.psychic 'modify')}}"
          data-rolltype="psychic-power"
          data-ability="modify">
          <div class="tooltip">
            {{#if (eq system.psychic.modify.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="modify"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.psychic.modify.die}}" data-ability="modify"></i>
            {{/if}}              
            <span class="die-word">{{system.psychic.modify.die}}{{#if system.psychic.modify.isNegBase}}{{else}}+{{/if}}{{system.psychic.modify.totalBonus}}</span>
            {{#if (eq system.derivedAbilityPools.gritDie.die 'd2')}}
              <i class="fa-solid fa-coin" data-ability="grit"></i>
            {{else}}
              <i class="fa-solid fa-dice-{{system.derivedAbilityPools.gritDie.die}}" data-ability="grit"></i>
            {{/if}}
            <span class="die-word">{{system.derivedAbilityPools.gritDie.die}}</span>
            <span class="tooltiptext">
              <span class="tooltip-label">Die:</span> {{system.psychic.modify.die}}<br/>
              <span class="tooltip-label">Bonus:</span> {{system.psychic.modify.bonusMod}}<br/>
              <span class="tooltip-label">Hindrance Mod:</span> {{system.psychic.modify.hindranceMod}}<br/>
              <span class="tooltip-label">Trait Mod:</span> {{system.psychic.modify.traitMod}}<br/>
              <span class="tooltip-label">Cybernetic Mod:</span> {{system.psychic.modify.cyberMod}}<br/>
              <span class="tooltip-label">Bionetic Mod:</span> {{system.psychic.modify.bioMod}}
            </span>
          </div>
        </label>
      </td>
      <td class="align-right">
        {{#if (eq system.psychic.modify.trainingStatus "legendary")}}
        {{else}}
        <!-- Tick Success 0 - u -->
        <div class="tooltip">
        {{#if system.psychic.modify.usageTickSucc0 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc0"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc0"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 1 - u -->
        <div class="tooltip">
        {{#if system.psychic.modify.usageTickSucc1 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc1"></i>
        {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc1"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        </div>
        <!-- Tick Success 2 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.modify.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.modify.usageTickSucc2 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc2"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc2"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 3 - a -->
        <div class="tooltip">
        {{#if (eq system.psychic.modify.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.modify.usageTickSucc3 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc3"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc3"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 4 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.modify.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.modify.usageTickSucc4 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc4"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc4"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 5 - p -->
        <div class="tooltip">
        {{#if (eq system.psychic.modify.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.modify.usageTickSucc5 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc5"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc5"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 6 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.modify.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.modify.usageTickSucc6 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc6"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc6"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 7 - e -->
        <div class="tooltip">
        {{#if (eq system.psychic.modify.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.modify.usageTickSucc7 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc7"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc7"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 8 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.modify.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.modify.usageTickSucc8 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc8"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc8"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        <!-- Tick Success 9 - m -->
        <div class="tooltip">
        {{#if (eq system.psychic.modify.trainingStatus "untrained")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "apprentice")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "professional")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else if (eq system.psychic.modify.trainingStatus "expert")}}
          <i class="fa-light fa-compass-slash fa20"></i>
        {{else}}
          {{#if system.psychic.modify.usageTickSucc9 }}
          <i class="fa-light fa-lightbulb switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc9"></i>
          {{else}}
          <i class="fa-light fa-lightbulb-slash switch-tick-psychic fa20" data-psychic="psychic" data-power="modify" data-tick="usageTickSucc9"></i>
          {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Success Tick</span><br/>
          </span>
        {{/if}}
        </div>
        {{/if}}
      </td>
    </tr>
    <tr id="table-row-modify" style="display: {{system.psychic.modify.hideShow}};">
      <td>
        <input
          type="radio"
          id="system.psychicPower.modify.selected"
          name="psychicPowerSelected"
          class="radio-selected-psychic"
          data-power="modify"
          {{#if (eq system.currentPsychicSelection.power "modify")}}checked{{/if}}
        >
        <span>Selected</span>
      </td>
      <td colspan="4">
        <div class="flexrow">
          <div>
            <span class=""><strong>Base</strong></span><br>
            <input type="radio" id="psychicModifyBase0" name="psychicModifyBase" class="radio-psychic-selected-modify-mb" data-cost="12" {{#if (eq system.psychicCosts.modify.costBase 12)}}checked{{/if}}>
            <label for="psychicModifyBase0">Base (12 cost)</label><br/>
          <br/>
            <span class=""><strong>Resistance</strong></span><br/>
            <input type="radio" id="psychicModifyResistance0" name="psychicModifyResistance" class="radio-psychic-selected-modify-mr" data-cost="2" {{#if (eq system.psychicCosts.modify.costResistance 2)}}checked{{/if}}>
            <label for="psychicModifyResistance0">Easy Magic Penalty (2 cost)</label><br/>
            <input type="radio" id="psychicModifyResistance1" name="psychicModifyResistance" class="radio-psychic-selected-modify-mr" data-cost="5" {{#if (eq system.psychicCosts.modify.costResistance 5)}}checked{{/if}}>
            <label for="psychicModifyResistance1">Moderate Magic Penalty (5 cost)</label><br/>
            <input type="radio" id="psychicModifyResistance2" name="psychicModifyResistance" class="radio-psychic-selected-modify-mr" data-cost="8" {{#if (eq system.psychicCosts.modify.costResistance 8)}}checked{{/if}}>
            <label for="psychicModifyResistance2">Hard Magic Penalty (8 cost)</label><br/>
            <input type="radio" id="psychicModifyResistance3" name="psychicModifyResistance" class="radio-psychic-selected-modify-mr" data-cost="11" {{#if (eq system.psychicCosts.modify.costResistance 11)}}checked{{/if}}>
            <label for="psychicModifyResistance3">Sheer Folly Magic Penalty (11 cost)</label><br/>
            <input type="radio" id="psychicModifyResistance4" name="psychicModifyResistance" class="radio-psychic-selected-modify-mr" data-cost="14" {{#if (eq system.psychicCosts.modify.costResistance 14)}}checked{{/if}}>
            <label for="psychicModifyResistance4">Near Impossible Magic Penalty (14 cost)</label><br/>
            <input type="radio" id="psychicModifyResistance5" name="psychicModifyResistance" class="radio-psychic-selected-modify-mr" data-cost="17" {{#if (eq system.psychicCosts.modify.costResistance 17)}}checked{{/if}}>
            <label for="psychicModifyResistance5">Impossible Magic Penalty (17 cost)</label><br/>
          <br/>
            <span class=""><strong>How Far Back</strong></span><br>
            <input type="radio" id="psychicModifyHowFarBack0" name="psychicModifyHowFarBack" class="radio-psychic-selected-modify-mh" data-cost="6" {{#if (eq system.psychicCosts.modify.costBack 6)}}checked{{/if}}>
            <label for="psychicModifyHowFarBack0">1 hour x TB (6 cost)</label><br/>
            <input type="radio" id="psychicModifyHowFarBack1" name="psychicModifyHowFarBack" class="radio-psychic-selected-modify-mh" data-cost="12" {{#if (eq system.psychicCosts.modify.costBack 12)}}checked{{/if}}> 
            <label for="psychicModifyHowFarBack1">1 day x TB (12 cost)</label><br/>
            <input type="radio" id="psychicModifyHowFarBack2" name="psychicModifyHowFarBack" class="radio-psychic-selected-modify-mh" data-cost="18" {{#if (eq system.psychicCosts.modify.costBack 18)}}checked{{/if}}>
            <label for="psychicModifyHowFarBack2">1 week x TB (18 cost)</label><br/>
            <input type="radio" id="psychicModifyHowFarBack3" name="psychicModifyHowFarBack" class="radio-psychic-selected-modify-mh" data-cost="24" {{#if (eq system.psychicCosts.modify.costBack 24)}}checked{{/if}}>
            <label for="psychicModifyHowFarBack3">1 month x TB (24 cost)</label><br/>
          </div>
          <div> 
            <span class=""><strong>Time</strong></span><br>
            <input type="radio" id="psychicModifyDuration0" name="psychicModifyDuration" class="radio-psychic-selected-modify-md" data-cost="1" {{#if (eq system.psychicCosts.modify.costDuration 1)}}checked{{/if}}>
            <label for="psychicModifyDuration0">1 minute x TB (1 cost)</label><br/>
            <input type="radio" id="psychicModifyDuration1" name="psychicModifyDuration" class="radio-psychic-selected-modify-md" data-cost="3" {{#if (eq system.psychicCosts.modify.costDuration 3)}}checked{{/if}}>
            <label for="psychicModifyDuration1">10 minutes x TB (3 cost)</label><br/>
            <input type="radio" id="psychicModifyDuration2" name="psychicModifyDuration" class="radio-psychic-selected-modify-md" data-cost="6" {{#if (eq system.psychicCosts.modify.costDuration 6)}}checked{{/if}}>
            <label for="psychicModifyDuration2">1 hour x TB (6 cost)</label><br/>
          <br/>
            <span class=""><strong>Targets</strong></span><br>
            <input type="radio" id="psychicModifyTargets0" name="psychicModifyTargets" class="radio-psychic-selected-modify-mt" data-cost="3" {{#if (eq system.psychicCosts.modify.costTarget 3)}}checked{{/if}}>
            <label for="psychicModifyTargets0">Single Target (3 cost)</label><br/>
            <input type="radio" id="psychicModifyTargets1" name="psychicModifyTargets" class="radio-psychic-selected-modify-mt" data-cost="5" {{#if (eq system.psychicCosts.modify.costTarget 5)}}checked{{/if}}>
            <label for="psychicModifyTargets1">Two Targets (5 cost)</label><br/>
            <input type="radio" id="psychicModifyTargets2" name="psychicModifyTargets" class="radio-psychic-selected-modify-mt" data-cost="7" {{#if (eq system.psychicCosts.modify.costTarget 7)}}checked{{/if}}>
            <label for="psychicModifyTargets2">Three Targets (7 cost)</label><br/>
            <input type="radio" id="psychicModifyTargets3" name="psychicModifyTargets" class="radio-psychic-selected-modify-mt" data-cost="9" {{#if (eq system.psychicCosts.modify.costTarget 9)}}checked{{/if}}>
            <label for="psychicModifyTargets3">Four Target (9 cost)</label><br/>
            <input type="radio" id="psychicModifyTargets4" name="psychicModifyTargets" class="radio-psychic-selected-modify-mt" data-cost="11" {{#if (eq system.psychicCosts.modify.costTarget 11)}}checked{{/if}}>
            <label for="psychicModifyTargets4">Five Target (11 cost)</label><br/>
            <input type="radio" id="psychicModifyTargets5" name="psychicModifyTargets" class="radio-psychic-selected-modify-mt" data-cost="13" {{#if (eq system.psychicCosts.modify.costTarget 13)}}checked{{/if}}>
            <label for="psychicModifyTargets5">Six Target (13 cost)</label><br/>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>