<table>
  <thead>
      <tr>
        <th>Skill</th>
        <th>Abilities</th>
        <th>Training</th>
        <th width="108">Die / Bonus</th>
        <th>Usage Ticks</th>
      </tr>
  </thead>
  <tbody>
    {{#each system.skills as |skill key|}}
      <tr>
        <td class="align-left">
          <label for="system.skills.{{key}}" class="resource-label flexlarge align-left" data-label="{{localize (lookup @root.config.skills key)}}">{{localize (lookup @root.config.skills key)}}</label>
        </td>
        <td class="align-center">
          <label>[</label>
          <label for="system.skills.{{key}}" class="resource-label flexsmall align-center" data-label="Value">{{skill.attr1}}</label>
          <label>|</label>
          <label for="system.skills.{{key}}" class="resource-label flexsmall align-center" data-label="Value">{{skill.attr2}}</label>
          <label>]</label>
          <br/>
          <label for="system.skills.{{key}}" class="resource-label flexsmall align-center" data-label="Value">Max: {{skill.maxTrainingStatus}}</label>
        </td>
        <td class="align-center">
          <select id="system.skills.{{key}}" class="training-select" name="{{key}}">
            <option value="untrained" {{#if (eq skill.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
            <option value="apprentice" {{#if (eq skill.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
            <option value="professional" {{#if (eq skill.trainingStatus "professional")}}selected{{/if}}>Professional</option>
            <option value="expert" {{#if (eq skill.trainingStatus "expert")}}selected{{/if}}>Expert</option>
            <option value="master" {{#if (eq skill.trainingStatus "master")}}selected{{/if}}>Master</option>
            <option value="legendary" {{#if (eq skill.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
          </select>
        </td>
        <td class="align-center">
          <label 
            for="system.skills.{{key}}"
            class="rollable resource-label flexsmall align-center"
            data-die="{{skill.die}}"
            data-bonus="{{skill.totalBonus}}"
            data-roll="{{skill.die}}+{{skill.totalBonus}}"
            data-label="{{localize (lookup @root.config.skills key)}}"
            data-rolltype="skill"
            data-ability="{{key}}">
            <div class="tooltip">
              {{#if (eq skill.die 'd2')}}
                <i class="fa-solid fa-coin" data-ability="{{key}}"></i>
              {{else}}
                <i class="fa-solid fa-dice-{{skill.die}}" data-ability="{{key}}"></i>
              {{/if}}              
              <span class="die-word">{{skill.die}}{{#if skill.isNegBase}}{{else}}+{{/if}}{{skill.totalBonus}}</span>
              <span class="tooltiptext">
                <span class="tooltip-label">Die:</span> {{skill.die}}<br/>
                <span class="tooltip-label">Bonus:</span> {{skill.bonusMod}}<br/>
                <span class="tooltip-label">Hindrance Mod:</span> {{skill.hindranceMod}}<br/>
                <span class="tooltip-label">Trait Mod:</span> {{skill.traitMod}}<br/>
                <span class="tooltip-label">Cybernetic Mod:</span> {{skill.cyberMod}}<br/>
                <span class="tooltip-label">Bionetic Mod:</span> {{skill.bioMod}}
              </span>
            </div>
          </label>
        </td>
        <td class="align-right">
          {{#if (eq skill.trainingStatus "legendary")}}
          {{else}}
          <!-- Tick Success 0 - u -->
          <div class="tooltip">
          {{#if skill.usageTickSucc0 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc0"></i>
          {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc0"></i>
          {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          </div>
          <!-- Tick Success 1 - u -->
          <div class="tooltip">
          {{#if skill.usageTickSucc1 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc1"></i>
          {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc1"></i>
          {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          </div>
          <!-- Tick Success 2 - a -->
          <div class="tooltip">
          {{#if (eq skill.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if skill.usageTickSucc2 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc2"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc2"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 3 - a -->
          <div class="tooltip">
          {{#if (eq skill.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if skill.usageTickSucc3 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc3"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc3"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 4 - p -->
          <div class="tooltip">
          {{#if (eq skill.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if skill.usageTickSucc4 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc4"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc4"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 5 - p -->
          <div class="tooltip">
          {{#if (eq skill.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if skill.usageTickSucc5 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc5"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc5"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 6 - e -->
          <div class="tooltip">
          {{#if (eq skill.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if skill.usageTickSucc6 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc6"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc6"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 7 - e -->
          <div class="tooltip">
          {{#if (eq skill.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if skill.usageTickSucc7 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc7"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc7"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 8 - m -->
          <div class="tooltip">
          {{#if (eq skill.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "expert")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if skill.usageTickSucc8 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc8"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc8"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 9 - m -->
          <div class="tooltip">
          {{#if (eq skill.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq skill.trainingStatus "expert")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if skill.usageTickSucc9 }}
            <i class="fa-light fa-lightbulb switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc9"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switchTick fa20" data-skill="{{key}}" data-tick="usageTickSucc9"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          {{/if}}
        </td>
      </tr>
    {{/each}}
</table>