<h3>MAGIC WORDS</h3>
<br/>
<h4>Action Words ({{system.currentWordSelection.actionTotal}})</h4>
<table>
  <thead>
      <tr>
        <th>Word</th>
        <th>Abilities</th>
        <th>Training</th>
        <th>Die / Bonus</th>
        <th>Usage Ticks</th>
      </tr>
  </thead>
  <tbody>
    {{#each system.actionWords as |word key|}}
      <tr>
        <td class="align-left">
          <label
            for="system.actionWords.{{key}}"
            class="resource-label flexlarge align-left hide-show-word"
            data-label="{{localize (lookup @root.config.actionWords key)}}"
            data-wordtype="actionWords"
          >
            {{localize (lookup @root.config.actionWords key)}}
            <i id="rotate-{{key}}" class="fa {{word.rotate}}"></i>
          </label>
        </td>
        <td class="align-center">
          <label>[</label>
          <label for="system.actionWords.{{key}}" class="resource-label flexsmall align-center" data-label="Value">{{word.attr1}}</label>
          <label>|</label>
          <label for="system.actionWords.{{key}}" class="resource-label flexsmall align-center" data-label="Value">{{word.attr2}}</label>
          <label>]</label>
          <br/>
          <label for="system.actionWords.{{key}}" class="resource-label flexsmall align-center" data-label="Value">Max: {{word.maxTrainingStatus}}</label>
        </td>
        <td class="align-center">
          <select id="system.actionWords.{{key}}" class="training-select-word" data-wordtype="actionWords" name="{{key}}">
            <option value="untrained" {{#if (eq word.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
            <option value="apprentice" {{#if (eq word.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
            <option value="professional" {{#if (eq word.trainingStatus "professional")}}selected{{/if}}>Professional</option>
            <option value="expert" {{#if (eq word.trainingStatus "expert")}}selected{{/if}}>Expert</option>
            <option value="master" {{#if (eq word.trainingStatus "master")}}selected{{/if}}>Master</option>
            <option value="legendary" {{#if (eq word.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
          </select>
        </td>
        <td class="align-center">
          <label 
            for="system.actionWords.{{key}}"
            class="rollable resource-label flexsmall align-center"
            data-die="{{word.die}}"
            data-bonus="{{word.totalBonus}}"
            data-roll="{{word.die}}+{{word.totalBonus}}"
            data-label="{{localize (lookup @root.config.actionWords key)}}"
            data-rolltype="word"
            data-ability="{{key}}">
            <div class="tooltip">
              {{#if (eq word.die 'd2')}}
                <i class="fa-solid fa-coin" data-ability="{{key}}"></i>
              {{else}}
                <i class="fa-solid fa-dice-{{word.die}}" data-ability="{{key}}"></i>
              {{/if}}              
              <span class="die-word">{{word.die}}{{#if word.isNegBase}}{{else}}+{{/if}}{{word.totalBonus}}</span>
              <span class="tooltiptext">
                <span class="tooltip-label">Die:</span> {{word.die}}<br/>
                <span class="tooltip-label">Bonus:</span> {{word.bonusMod}}<br/>
                <span class="tooltip-label">Hindrance Mod:</span> {{word.hindranceMod}}<br/>
                <span class="tooltip-label">Trait Mod:</span> {{word.traitMod}}<br/>
                <span class="tooltip-label">Cybernetic Mod:</span> {{word.cyberMod}}<br/>
                <span class="tooltip-label">Bionetic Mod:</span> {{word.bioMod}}
              </span>
            </div>
          </label>
        </td>
        <td class="align-right">
          {{#if (eq word.trainingStatus "legendary")}}
          {{else}}
          <!-- Tick Success 0 - u -->
          <div class="tooltip">
          {{#if word.usageTickSucc0 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc0"></i>
          {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc0"></i>
          {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          </div>
          <!-- Tick Success 1 - u -->
          <div class="tooltip">
          {{#if word.usageTickSucc1 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc1"></i>
          {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc1"></i>
          {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          </div>
          <!-- Tick Success 2 - a -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc2 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc2"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc2"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 3 - a -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc3 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc3"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc3"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 4 - p -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc4 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc4"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc4"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 5 - p -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc5 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc5"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc5"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 6 - e -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc6 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc6"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc6"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 7 - e -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc7 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc7"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc7"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 8 - m -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "expert")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc8 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc8"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc8"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 9 - m -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "expert")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc9 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc9"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="actionWords" data-word="{{key}}" data-tick="usageTickSucc9"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          {{/if}}
        </td>
      </tr>
      <tr id="table-row-{{key}}" style="display: {{word.hideShow}};">
        <td>
          <input
            type="radio"
            id="system.spellActions.{{key}}.selected"
            name="spellActionsSelected"
            class="radio-selected-action"
            data-word="{{key}}"
            data-wordcost="word{{capitalizeFirst key}}"
            {{#if (eq key ../system.currentWordSelection.actionWord)}}checked{{/if}}
          >
          <span>Selected</span>
        </td>
        <td colspan="4">
          {{#if (eq key 'armor')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-armor.hbs"
              key=key
              costRating=../system.wordCosts.wordArmor.costRating
              costType=../system.wordCosts.wordArmor.costType
              costDuration=../system.wordCosts.wordArmor.costDuration
            }}
          {{else if (eq key 'banish')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-banish.hbs"
              key=key
              costResistance=../system.wordCosts.wordBanish.costResistance
              costSize=../system.wordCosts.wordBanish.costSize
            }}
          {{else if (eq key 'control')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-control.hbs"
              key=key
              costResistance=../system.wordCosts.wordControl.costResistance
              costDuration=../system.wordCosts.wordControl.costDuration
            }}
          {{else if (eq key 'create')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-create.hbs"
              key=key
              costSize=../system.wordCosts.wordCreate.costSize
              costDuration=../system.wordCosts.wordCreate.costDuration
            }}
          {{else if (eq key 'destroy')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-destroy.hbs"
              key=key
              costDamage=../system.wordCosts.wordDestroy.costDamage
              costType=../system.wordCosts.wordDestroy.costType
              costResistance=../system.wordCosts.wordDestroy.costResistance
            }}
          {{else if (eq key 'repair')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-repair.hbs"
              key=key
              costRepair=../system.wordCosts.wordRepair.costRepair
            }}
          {{else if (eq key 'shield')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-shield.hbs"
              key=key
              costResist=../system.wordCosts.wordShield.costResist
              costDuration=../system.wordCosts.wordShield.costDuration
            }}
          {{else if (eq key 'summon')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-summon.hbs"
              key=key
              costSize=../system.wordCosts.wordSummon.costSize
              costStays=../system.wordCosts.wordSummon.costStays
              costDuration=../system.wordCosts.wordSummon.costDuration
            }}
          {{else if (eq key 'transform')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-transform.hbs"
              key=key
              costSize=../system.wordCosts.wordTransform.costSize
              costDuration=../system.wordCosts.wordTransform.costDuration
              costMental=../system.wordCosts.wordTransform.costMental
            }}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br/>
<h4>Power Words ({{system.currentWordSelection.powerTotal}})</h4>
<table>
  <thead>
      <tr>
        <th>Word</th>
        <th>Abilities</th>
        <th>Training</th>
        <th>Die / Bonus</th>
        <th>Usage Ticks</th>
      </tr>
  </thead>
  <tbody>
    {{#each system.powerWords as |word key|}}
      <tr>
        <td class="align-left">
          <label
            for="system.powerWords.{{key}}"
            class="resource-label flexlarge align-left hide-show-word"
            data-label="{{localize (lookup @root.config.powerWords key)}}"
            data-wordtype="powerWords"
          >
            {{localize (lookup @root.config.powerWords key)}}
            <i id="rotate-{{key}}" class="fa {{word.rotate}}"></i>
        </label>
        </td>
        <td class="align-center">
          <label>[</label>
          <label for="system.powerWords.{{key}}" class="resource-label flexsmall align-center" data-label="Value">{{word.attr1}}</label>
          <label>|</label>
          <label for="system.powerWords.{{key}}" class="resource-label flexsmall align-center" data-label="Value">{{word.attr2}}</label>
          <label>]</label>
          <br/>
          <label for="system.powerWords.{{key}}" class="resource-label flexsmall align-center" data-label="Value">Max: {{word.maxTrainingStatus}}</label>
        </td>
        <td class="align-center">
          <select id="system.powerWords.{{key}}" class="training-select-word" data-wordtype="powerWords" name="{{key}}">
            <option value="untrained" {{#if (eq word.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
            <option value="apprentice" {{#if (eq word.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
            <option value="professional" {{#if (eq word.trainingStatus "professional")}}selected{{/if}}>Professional</option>
            <option value="expert" {{#if (eq word.trainingStatus "expert")}}selected{{/if}}>Expert</option>
            <option value="master" {{#if (eq word.trainingStatus "master")}}selected{{/if}}>Master</option>
            <option value="legendary" {{#if (eq word.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
          </select>
        </td>
        <td class="align-center">
          <label 
            for="system.powerWords.{{key}}"
            class="rollable resource-label flexsmall align-center"
            data-die="{{word.die}}"
            data-bonus="{{word.totalBonus}}"
            data-roll="{{word.die}}+{{word.totalBonus}}"
            data-label="{{localize (lookup @root.config.powerWords key)}}"
            data-rolltype="word"
            data-ability="{{key}}">
            <div class="tooltip">
              {{#if (eq word.die 'd2')}}
                <i class="fa-solid fa-coin" data-ability="{{key}}"></i>
              {{else}}
                <i class="fa-solid fa-dice-{{word.die}}" data-ability="{{key}}"></i>
              {{/if}}              
              <span class="die-word">{{word.die}}{{#if word.isNegBase}}{{else}}+{{/if}}{{word.totalBonus}}</span>
              <span class="tooltiptext">
                <span class="tooltip-label">Die:</span> {{word.die}}<br/>
                <span class="tooltip-label">Bonus:</span> {{word.bonusMod}}<br/>
                <span class="tooltip-label">Hindrance Mod:</span> {{word.hindranceMod}}<br/>
                <span class="tooltip-label">Trait Mod:</span> {{word.traitMod}}<br/>
                <span class="tooltip-label">Cybernetic Mod:</span> {{word.cyberMod}}<br/>
                <span class="tooltip-label">Bionetic Mod:</span> {{word.bioMod}}
              </span>
            </div>
          </label>
        </td>
        <td class="align-right">
          {{#if (eq word.trainingStatus "legendary")}}
          {{else}}
          <!-- Tick Success 0 - u -->
          <div class="tooltip">
          {{#if word.usageTickSucc0 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc0"></i>
          {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc0"></i>
          {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          </div>
          <!-- Tick Success 1 - u -->
          <div class="tooltip">
          {{#if word.usageTickSucc1 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc1"></i>
          {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc1"></i>
          {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          </div>
          <!-- Tick Success 2 - a -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc2 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc2"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc2"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 3 - a -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc3 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc3"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc3"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 4 - p -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc4 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc4"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc4"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 5 - p -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc5 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc5"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc5"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 6 - e -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc6 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc6"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc6"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 7 - e -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc7 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc7"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc7"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 8 - m -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "expert")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc8 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc8"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc8"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 9 - m -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "expert")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc9 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc9"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="powerWords" data-word="{{key}}" data-tick="usageTickSucc9"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          {{/if}}
        </td>
      </tr>
      <tr id="table-row-{{key}}" style="display: {{word.hideShow}};">
        <td>
          <input
            type="radio"
            id="system.spellPowers.{{key}}.selected"
            name="spellPowersSelected"
            class="radio-selected-power"
            data-word="{{key}}"
            data-wordcost="word{{capitalizeFirst key}}"
            {{#if (eq key ../system.currentWordSelection.powerWord)}}checked{{/if}}
          >
          <span>Selected</span>
        </td>
        <td colspan="4">
          {{#if (eq key 'air')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-air.hbs"
              key=key
              costDamage=../system.wordCosts.wordAir.costDamage
            }}
          {{else if (eq key 'animal')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-animal.hbs"
              key=key
              costDamage=../system.wordCosts.wordAnimal.costDamage
              costAnimal=../system.wordCosts.wordAnimal.costAnimal
            }}
          {{else if (eq key 'ash')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-ash.hbs"
              key=key
              costDamage=../system.wordCosts.wordAsh.costDamage
              costVisibility=../system.wordCosts.wordAsh.costVisibility
            }}
          {{else if (eq key 'dark')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-dark.hbs"
              key=key
              costDamage=../system.wordCosts.wordDark.costDamage
              costField=../system.wordCosts.wordDark.costField
            }}
          {{else if (eq key 'earth')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-earth.hbs"
              key=key
              costDamage=../system.wordCosts.wordEarth.costDamage
            }}
          {{else if (eq key 'fire')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-fire.hbs"
              key=key
              costDamage=../system.wordCosts.wordFire.costDamage
            }}
          {{else if (eq key 'fissure')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-fissure.hbs"
              key=key
              costDamage=../system.wordCosts.wordFissure.costDamage
              costWeaken=../system.wordCosts.wordFissure.costWeaken
            }}
          {{else if (eq key 'force')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-force.hbs"
              key=key
              costDamage=../system.wordCosts.wordForce.costDamage
            }}
          {{else if (eq key 'lava')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-lava.hbs"
              key=key
              costDamage=../system.wordCosts.wordLava.costDamage
              costWeaken=../system.wordCosts.wordLava.costWeaken
            }}
          {{else if (eq key 'light')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-light.hbs"
              key=key
              costDamage=../system.wordCosts.wordLight.costDamage
              costField=../system.wordCosts.wordLight.costField
            }}
          {{else if (eq key 'mist')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-mist.hbs"
              key=key
              costDamage=../system.wordCosts.wordMist.costDamage
              costVisibility=../system.wordCosts.wordMist.costVisibility
            }}
          {{else if (eq key 'mud')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-mud.hbs"
              key=key
              costDamage=../system.wordCosts.wordMud.costDamage
              costMovement=../system.wordCosts.wordMud.costMovement
            }}
          {{else if (eq key 'plant')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-plant.hbs"
              key=key
              costDamage=../system.wordCosts.wordPlant.costDamage
              costPlant=../system.wordCosts.wordPlant.costPlant
            }}
          {{else if (eq key 'spirit')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-spirit.hbs"
              key=key
              costDamage=../system.wordCosts.wordSpirit.costDamage
            }}
          {{else if (eq key 'steam')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-steam.hbs"
              key=key
              costDamage=../system.wordCosts.wordSteam.costDamage
              costVisibility=../system.wordCosts.wordSteam.costVisibility
            }}
          {{else if (eq key 'water')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-water.hbs"
              key=key
              costDamage=../system.wordCosts.wordWater.costDamage
            }}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
<br/>
<h4>Target Words ({{system.currentWordSelection.targetTotal}})</h4>
<table>
  <thead>
      <tr>
        <th>Word</th>
        <th>Abilities</th>
        <th>Training</th>
        <th>Die / Bonus</th>
        <th>Usage Ticks</th>
      </tr>
  </thead>
  <tbody>
    {{#each system.targetWords as |word key|}}
      <tr>
        <td class="align-left">
          <label
            for="system.targetWords.{{key}}"
            class="resource-label flexlarge align-left hide-show-word"
            data-label="{{localize (lookup @root.config.targetWords key)}}"
            data-wordtype="targetWords"
          >
            {{localize (lookup @root.config.targetWords key)}}
            <i id="rotate-{{key}}" class="fa {{word.rotate}}"></i>
        </label>
        <td class="align-center">
          <label>[</label>
          <label for="system.targetWords.{{key}}" class="resource-label flexsmall align-center" data-label="Value">{{word.attr1}}</label>
          <label>|</label>
          <label for="system.targetWords.{{key}}" class="resource-label flexsmall align-center" data-label="Value">{{word.attr2}}</label>
          <label>]</label>
          <br/>
          <label for="system.targetWords.{{key}}" class="resource-label flexsmall align-center" data-label="Value">Max: {{word.maxTrainingStatus}}</label>
        </td>
        <td class="align-center">
          <select id="system.targetWords.{{key}}" class="training-select-word" data-wordtype="targetWords" name="{{key}}">
            <option value="untrained" {{#if (eq word.trainingStatus "untrained")}}selected{{/if}}>Untrained</option>
            <option value="apprentice" {{#if (eq word.trainingStatus "apprentice")}}selected{{/if}}>Apprentice</option>
            <option value="professional" {{#if (eq word.trainingStatus "professional")}}selected{{/if}}>Professional</option>
            <option value="expert" {{#if (eq word.trainingStatus "expert")}}selected{{/if}}>Expert</option>
            <option value="master" {{#if (eq word.trainingStatus "master")}}selected{{/if}}>Master</option>
            <option value="legendary" {{#if (eq word.trainingStatus "legendary")}}selected{{/if}}>Legendary</option>
          </select>
        </td>
        <td class="align-center">
          <label 
            for="system.targetWords.{{key}}"
            class="rollable resource-label flexsmall align-center"
            data-die="{{word.die}}"
            data-bonus="{{word.totalBonus}}"
            data-roll="{{word.die}}+{{word.totalBonus}}"
            data-label="{{localize (lookup @root.config.targetWords key)}}"
            data-rolltype="word"
            data-ability="{{key}}">
            <div class="tooltip">
              {{#if (eq word.die 'd2')}}
                <i class="fa-solid fa-coin" data-ability="{{key}}"></i>
              {{else}}
                <i class="fa-solid fa-dice-{{word.die}}" data-ability="{{key}}"></i>
              {{/if}}              
              <span class="die-word">{{word.die}}{{#if word.isNegBase}}{{else}}+{{/if}}{{word.totalBonus}}</span>
              <span class="tooltiptext">
                <span class="tooltip-label">Die:</span> {{word.die}}<br/>
                <span class="tooltip-label">Bonus:</span> {{word.bonusMod}}<br/>
                <span class="tooltip-label">Hindrance Mod:</span> {{word.hindranceMod}}<br/>
                <span class="tooltip-label">Trait Mod:</span> {{word.traitMod}}<br/>
                <span class="tooltip-label">Cybernetic Mod:</span> {{word.cyberMod}}<br/>
                <span class="tooltip-label">Bionetic Mod:</span> {{word.bioMod}}
              </span>
            </div>
          </label>
        </td>
        <td class="align-right">
          {{#if (eq word.trainingStatus "legendary")}}
          {{else}}
          <!-- Tick Success 0 - u -->
          <div class="tooltip">
          {{#if word.usageTickSucc0 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc0"></i>
          {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc0"></i>
          {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          </div>
          <!-- Tick Success 1 - u -->
          <div class="tooltip">
          {{#if word.usageTickSucc1 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc1"></i>
          {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc1"></i>
          {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          </div>
          <!-- Tick Success 2 - a -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc2 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc2"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc2"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 3 - a -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc3 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc3"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc3"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 4 - p -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc4 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc4"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc4"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 5 - p -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc5 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc5"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc5"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 6 - e -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc6 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc6"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc6"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 7 - e -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc7 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc7"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc7"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 8 - m -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "expert")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc8 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc8"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc8"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          <!-- Tick Success 9 - m -->
          <div class="tooltip">
          {{#if (eq word.trainingStatus "untrained")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "apprentice")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "professional")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else if (eq word.trainingStatus "expert")}}
            <i class="fa-light fa-compass-slash fa20"></i>
          {{else}}
            {{#if word.usageTickSucc9 }}
            <i class="fa-light fa-lightbulb switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc9"></i>
            {{else}}
            <i class="fa-light fa-lightbulb-slash switch-tick-word fa20" data-wordtype="targetWords" data-word="{{key}}" data-tick="usageTickSucc9"></i>
            {{/if}}
            <span class="tooltiptext">
              <span class="tooltip-label">Success Tick</span><br/>
            </span>
          {{/if}}
          </div>
          {{/if}}
        </td>
      </tr>
      <tr id="table-row-{{key}}" style="display: {{word.hideShow}};">
        <td>
          <input
            type="radio"
            id="system.spellTargets.{{key}}.selected"
            name="spellTargetsSelected"
            class="radio-selected-target"
            data-word="{{key}}"
            data-wordcost="word{{capitalizeFirst key}}"
            {{#if (eq key ../system.currentWordSelection.targetWord)}}checked{{/if}}
          >
          <span>Selected</span>
        </td>
        <td colspan="4">
          {{#if (eq key 'it')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-it.hbs"
              key=key
              costTarget=../system.wordCosts.wordIt.costTarget
            }}
          {{else if (eq key 'me')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-me.hbs"
              key=key
              costTarget=../system.wordCosts.wordMe.costTarget
            }}
          {{else if (eq key 'them')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-them.hbs"
              key=key
              costTarget=../system.wordCosts.wordThem.costTarget
            }}
          {{else if (eq key 'there')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-there.hbs"
              key=key
              costTarget=../system.wordCosts.wordThere.costTarget
            }}
          {{else if (eq key 'us')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-us.hbs"
              key=key
              costTarget=../system.wordCosts.wordUs.costTarget
            }}
          {{else if (eq key 'you')}}
            {{> "systems/sentius-rpgsystem/templates/actor/parts/magic-words/word-you.hbs"
              key=key
              costTarget=../system.wordCosts.wordYou.costTarget
            }}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
