<h3>Stability</h3>
<div class='flexrow'>
  <div class='flexrow'>
    <label>Stability Max: {{system.derivedAbilityValues.stability.totalBonus}}</label>
    <label>Current Stability: {{system.curStability}}</label>
  </div>
</div>

<br/>
<h3>BIONETIC</h3>
<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>Bionetics</div>
    <div class="item-rating">Stability</div>
    <div class='item-controls'>
    </div>
  </li>
  {{#each items as |item id|}}
    {{#if (eq item.type 'bionetic')}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4 class="hideShowItemDesc" data-item-id="{{item._id}}">{{item.name}} <i id="icon-row-{{key}}" class="fa {{system.rotate}}"></i></h4>
      </div>
      <div class="item-rating">
        <span class="align-center">{{item.system.stability}}</span>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='augmentation'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </li>
    <li class='flexrow item-row-desc' id="row-{{key}}" style="display: {{system.hideShow}}" data-item-id="{{item._id}}">
      <div class='item-description'>{{{item.system.description}}}</div>
    </li>
    {{/if}}
  {{/each}}
</ol>

<br/>
<h3>CYBERNETIC</h3>
<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>Cybernetics</div>
    <div class="item-rating">Stability</div>
    <div class='item-controls'>
    </div>
  </li>
  {{#each items as |item id|}}
    {{#if (eq item.type 'cybernetic')}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4 class="hideShowItemDesc" data-item-id="{{item._id}}">{{item.name}} <i id="icon-row-{{key}}" class="fa {{system.rotate}}"></i></h4>
      </div>
      <div class="item-rating">
        <span class="align-center">{{item.system.stability}}</span>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='augmentation'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </li>
    <li class='flexrow item-row-desc' id="row-{{key}}" style="display: {{system.hideShow}}" data-item-id="{{item._id}}">
      <div class='item-description'>{{{item.system.description}}}</div>
    </li>
    {{/if}}
  {{/each}}
</ol>
{{!-- 

        <td class="align-left">
          <div class="hideShowItemDesc" data-icon="icon-row-{{key}}" data-table="table-row-{{key}}" data-key="{{key}}">
            <label for="system.spellActions.{{key}}" class="resource-label flexlarge align-left" data-label="{{localize (lookup @root.config.spellActions key)}}">{{localize (lookup @root.config.spellActions key)}}</label>
            <i id="icon-row-{{key}}" class="fa {{lookup ../system.rotateTracking key}}"></i>
          </div>
        </td>
      <tr id="table-row-{{key}}" style="display: {{lookup ../system.hideShowRow key}};">
  --}}