    <table>
      <thead>
        <tr>
          <th width="200">Pools</th>
          <th width="100">Max</th>
          <th width="30"></th>
          <th width="100">Current</th>
          <th width="30"></th>
        </tr>
      </thead>
      <tbody>
        {{#each system.derivedAbilityPools as |ability key|}}
        {{#if (eq key 'paceDie')}}
        {{else if (eq key 'initiativeDie')}}
        {{else if (eq key 'gritDie')}}
        {{else}}
        <tr>
          <td class="{{key}}">{{localize (lookup @root.config.derivedAbilityPools key)}}</td>
          <td class="align-center">{{ability.die}}</td>
          <td class="align-right">
            <div class="tooltip">
              <i class="fa-solid fa-arrow-left-from-arc increase-pool" data-ability="{{key}}"></i>
              <span class="tooltiptext">
                <span class="tooltip-label">Healing</span>
              </span>
            </div>
          </td>
          <td class="align-center">
            <div 
              class="rollable align-center"
              data-roll="{{ability.currentDie}}"
              data-rolltype="resource"
              data-ability="{{key}}"
              data-label="{{localize (lookup @root.config.derivedAbilityPools key)}}">

              {{#if (eq ability.currentDie 'd0')}}
              {{else if (eq ability.currentDie 'd1')}}
              <i class="fa-solid fa-coin-vertical" data-ability="{{key}}"></i>
              {{else if (eq ability.currentDie 'd2')}}
              <i class="fa-solid fa-coin" data-ability="{{key}}"></i>
              {{else}}
              <i class="fa-solid fa-dice-{{ability.currentDie}}" data-ability="{{key}}"></i>
              {{/if}}
              <span class="die-word">{{ability.currentDie}}</span>
            </div>
          </td>
          <td class="align-left">
            <div class="tooltip">
              <i class="fa-solid fa-arrow-right-from-arc decrease-pool" data-ability="{{key}}"></i>
              <span class="tooltiptext">
                <span class="tooltip-label">Damage</span>
              </span>
            </div>
          </td>
        </tr>
        {{/if}}
        {{/each}}
    </table>
