<h3>VEHICLE</h3>
<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>Vehicle</div>
    <div class='item-armorRating'>AR</div>
    <div class='item-armorDie item-100'>Armor Die</div>
    <div class="item-defense">Defense</div>
    <div class='item-pace item-100'>Speed</div>
    <div class='item-pace item-100'>Speed Type</div>
    <div class="item-options item-150">Options</div>
    <div class='item-controls'></div>
  </li>
  {{#each items as |item id|}}
    {{#if (eq item.type 'vehicle')}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4>{{item.name}}</h4>
      </div>
      <div class='item-armorRating item-prop'>{{item.system.armorRating}}</div>
      <div class='item-formula item-prop item-100' >
        <img src="systems/sentius-rpgsystem/assets/increment-arrow.webp" class="icon-super-tiny increase-armor" data-item-id="{{item._id}}">
        <span>{{item.system.armorDie }} ( {{item.system.armorCurrentDie}} )</span>
        <img src="systems/sentius-rpgsystem/assets/decrement-arrow.webp" class="icon-super-tiny decrease-armor" data-item-id="{{item._id}}">
      </div>
      <div class="item-defense item-prop">{{item.system.defense}}</div>
      <div class='item-pace item-prop item-100'>{{item.system.speed}}</div>
      <div class='item-pace item-prop item-100'>{{item.system.motionType}}</div>
      <div class="item-options item-150">
        <div class="tooltip">
        {{#if item.system.targetSystem}}
          <i class="fa-solid fa-crosshairs-simple"></i>
        {{else}}
          <i class="fa-light fa-crosshairs-simple"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Targeting System</span><br/>
          {{#if item.system.targetSystem}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>
        <div class="tooltip">
        {{#if item.system.amEcm}}
          <i class="fa-solid fa-satellite-dish"></i>
        {{else}}
          <i class="fa-light fa-satellite-dish"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">AM/ECM</span><br/>
          {{#if item.system.amEcm}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>

        <div class="tooltip">
        {{#if item.system.energyPod}}
          <i class="fa-solid fa-camera-web"></i>
        {{else}}
          <i class="fa-light fa-camera-web"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Energy Pod</span><br/>
          {{#if item.system.energyPod}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>

        <div class="tooltip">
        {{#if item.system.stabilizer}}
          <i class="fa-solid fa-circle-quarters"></i>
        {{else}}
          <i class="fa-light fa-circle-quarters"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Stabilizer</span><br/>
          {{#if item.system.stabilizer}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>

        <div class="tooltip">
        {{#if item.system.heavyArmor}}
          <i class="fa-solid fa-weight-hanging"></i>
        {{else}}
          <i class="fa-light fa-weight-hanging"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Heavy Armor</span><br/>
          {{#if item.system.heavyArmor}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>

        <div class="tooltip">
        {{#if item.system.cmdSuite}}
          <i class="fa-solid fa-command"></i>
        {{else}}
          <i class="fa-light fa-command"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Command Suite</span><br/>
          {{#if item.system.cmdSuite}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>

        <div class="tooltip">
        {{#if item.system.av}}
          <i class="fa-solid fa-circle-notch"></i>
        {{else}}
          <i class="fa-light fa-circle-notch"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Audio/Visual System</span><br/>
          {{#if item.system.av}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>

        <div class="tooltip">
        {{#if item.system.exposedCrew}}
          <i class="fa-solid fa-person"></i>
        {{else}}
          <i class="fa-light fa-person"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-label">Exposed Crew</span><br/>
          {{#if item.system.exposedCrew}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Item'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </li>
    <li class='item flexrow item-row-2' data-item-id='{{item._id}}'>
      <div class='item-properties item-prop item-200'>Properties: {{item.system.properties}}</div>
      <div class="item-energy item-prop">Energy Days: {{item.system.energy}}</div>
      <div class='item-crew item-prop'>Crew: {{item.system.crew}}+{{item.system.passengerCount}}</div>
      <div class='item-size item-prop'>Size: {{item.system.size}}</div>
      <div class="item-handling item-prop item-100">Handling:<br/>{{#if item.system.handlingIsNeg}}{{item.system.handling}}{{else}}+{{item.system.handling}}{{/if}} {{item.system.handlingType}}</div>
      <div class="item-cargo item-prop">Cargo: {{item.system.cargo}}</div>
    </li>
    {{/if}}
  {{/each}}
</ol>
<h3>Vehicle Weapons</h3>
<ol class='items-list'>
  <li class='item flexrow items-header'>
    <div class='item-name'>Weapon</div>
    <div class='item-formula'>Roll Formula</div>
    <div class="item-damagetype">Type</div>
    <div class="item-armorpiercing">AP</div>
    <div class="item-options">Options</div>
    <div class='item-controls'></div>
  </li>
  {{#each items as |item id|}}
    {{#if (eq item.type 'vehicleWeapon')}}
    <li class='item flexrow' data-item-id='{{item._id}}'>
      <div class='item-name'>
        <div class='item-image'>
          <a class='rollable' data-roll-type='item'>
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
        </div>
        <h4>{{item.name}}</h4>
      </div>
      {{!-- <div class='item-formula item-prop'>{{item.system.formula}}</div> --}}
      <div class='item-formula item-prop'>{{item.system.totalDiceNum}}{{item.system.diceSize}}</div>
      <div class='item-damagetype item-prop'>{{item.system.damageType}}</div>
      <div class='item-armorpiercing item-prop'>{{item.system.armorPiercing}}</div>
      <div class='item-options item-prop'>
        <div class="tooltip">
        {{#if item.system.twinlinked}}
          <i class="fa-solid fa-link" data-item-id="{{item._id}}"></i>
        {{else}}
          <i class="fa-light fa-link-slash" data-item-id="{{item._id}}"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-lavel">Twin Linkedli</span><br/>
          {{#if item.system.twinlinked}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>
        <div class="tooltip">
        {{#if item.system.heavyWeapon}}
          <i class="fa-solid fa-weight-hanging" data-item-id="{{item._id}}"></i>
        {{else}}
          <i class="fa-light fa-weight-hanging" data-item-id="{{item._id}}"></i>
        {{/if}}
          <span class="tooltiptext">
            <span class="tooltip-lavel">Heavy Weapon</span><br/>
          {{#if item.system.heavyWeapon}}
            <span class="tooltip-label">Enabled</span>
          {{else}}
            <span class="tooltip-label">Disabled</span>
          {{/if}}
          </span>
        </div>
      </div>
      <div class='item-controls'>
        <a
          class='item-control item-delete'
          title='{{localize "DOCUMENT.Delete" type='Item'}}'
        >
          <i class='fas fa-trash'></i>
        </a>
      </div>
    </li>
    <li class="item flexrow item-row-2" data-item-id="{{item._id}}">
      <div class='item-properties item-prop item-200'>Properties: {{item.system.properties}}</div>
      <div class='item-range item-prop'>Range: {{item.system.rangeIncrement}}</div>
      <div class='item-capacity item-prop'>
        Capacity:
        <img src="systems/sentius-rpgsystem/assets/increment-arrow.webp" class="icon-super-tiny increase-cap" data-item-id="{{item._id}}">
        <span>{{item.system.curCapacity}}</span>
        <img src="systems/sentius-rpgsystem/assets/decrement-arrow.webp" class="icon-super-tiny decrease-cap" data-item-id="{{item._id}}">
      </div>
      <div class='item-rateoffire item-prop'>ROF: {{item.system.rateOfFire}}</div>
      <div class="item-arc item-prop">Arc: {{item.system.fireArc}}</div>
    </li>
    {{/if}}
  {{/each}}
</ol>
