<form class='{{cssClass}}' autocomplete='off'>
  <header class='sheet-header'>
    <img
      class='profile-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Name'
        /></h1>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>Credit Cost</label>
          <input
            type='text'
            name='system.creditCost'
            value='{{system.creditCost}}'
            data-dtype='String'
          />
        </div>
        <div class='resource'>
          <label class='resource-label'>Rarity</label>
          <input
            type='text'
            name='system.rarity'
            value='{{system.rarity}}'
            data-dtype='String'
          />
        </div>
      </div>
      <div class='grid grid-2col'>
        <div class='resource'>
          <label class='resource-label'>Quantity</label>
          <input
            type='text'
            name='system.quantity'
            value='{{system.quantity}}'
            data-dtype='Number'
          />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class='sheet-tabs tabs' data-group='primary'>
    <a class='item' data-tab='description'>Description</a>
    <a class='item' data-tab='attributes'>Attributes</a>
  </nav>

  {{! Sheet Body }}
  <section class='sheet-body'>

    {{! Description Tab }}
    <div class='tab' data-group='primary' data-tab='description'>
      {{! Editors must receive enriched text data from getData to properly handle rolls }}
      {{editor
        enrichedDescription
        target='system.description'
        engine='prosemirror'
        button=true
        editable=editable
      }}
    </div>

    {{! Attributes Tab }}
    <div class='tab attributes' data-group='primary' data-tab='attributes'>
      {{! As you add new fields, add them in here! }}
      <div class='resource'>
        <label class='resource-label'>Roll Formula:</label>
        <span>{{system.formula}}</span>
        <div class='grid-span-1'>
          <label class='resource-label'>Current Resource</label>
          <div class="align-left">
            <img src="systems/sentius-rpgsystem/assets/increment-arrow.webp" class="icon-tiny increase-vehicle">
            <span class="die-word">{{system.armorCurrentDie}}</span>
            <img src="systems/sentius-rpgsystem/assets/decrement-arrow.webp" class="icon-tiny decrease-vehicle">
          </div>
        </div>
        <div class='grid grid-3col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Armor Rating</label>
            <input
              type='text'
              name='system.armorRating'
              value='{{system.armorRating}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Armor Die</label>
            <input
              type='text'
              name='system.armorDie'
              value='{{system.armorDie}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Size</label>
            <input
              type='text'
              name='system.size'
              value='{{system.size}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div class='grid grid-3col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Speed</label>
            <input
              type='text'
              name='system.speed'
              value='{{system.speed}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Motion Type</label>
            <input
              type='text'
              name='system.motionType'
              value='{{system.motionType}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Handling</label>
            <input
              type='text'
              name='system.handling'
              value='{{system.handling}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div class='grid grid-3col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Properties</label>
            <input
              type='text'
              name='system.properties'
              value='{{system.properties}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Crew</label>
            <input
              type='text'
              name='system.crew'
              value='{{system.crew}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Handling Type</label>
            <input
              type='text'
              name='system.handlingType'
              value='{{system.handlingType}}'
              data-dtype='String'
            />
          </div>
        </div>
        <div class='grid grid-2col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Energy Days</label>
            <input
              type='text'
              name='system.energy'
              value='{{system.energy}}'
              data-dtype='Number'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Cargo</label>
            <input
              type='text'
              name='system.cargo'
              value='{{system.cargo}}'
              data-dtype='String'
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Defense</label>
            <input
              type='text'
              name='system.defense'
              value='{{system.defense}}'
              data-dtype='Number'
            />
          </div>
        </div>
        <div class='grid grid-4col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Audio Visual System</label>
            <input
              type='checkbox'
              name='system.av'
              value='{{system.av}}'
              class="mark-av"
              data-dtype='String'
              {{#if system.av}}checked{{/if}}
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>AM/ECM</label>
            <input
              type='checkbox'
              name='system.amEcm'
              value='{{system.amEcm}}'
              class="mark-amecm"
              data-dtype='String'
              {{#if system.amEcm}}checked{{/if}}
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Command Suite</label>
            <input
              type='checkbox'
              name='system.cmdSuite'
              value='{{system.cmdSuite}}'
              class="mark-cmdSuite"
              data-dtype='String'
              {{#if system.cmdSuite}}checked{{/if}}
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Heavy Armor</label>
            <input
              type='checkbox'
              name='system.heavyArmor'
              value='{{system.heavyArmor}}'
              class="mark-heavyarmor"
              data-dtype='String'
              {{#if system.heavyArmor}}checked{{/if}}
            />
          </div>
        </div>
        <div class='grid grid-4col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Energy Pod</label>
            <input
              type='checkbox'
              name='system.energyPod'
              value='{{system.energyPod}}'
              class="mark-energyPod"
              data-dtype='String'
              {{#if system.energyPod}}checked{{/if}}
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Stabilizer</label>
            <input
              type='checkbox'
              name='system.stabilizer'
              value='{{system.stabilizer}}'
              class="mark-stabilizer"
              data-dtype='String'
              {{#if system.stabilizer}}checked{{/if}}
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Exposed Crew</label>
            <input
              type='checkbox'
              name='system.exposedCrew'
              value='{{system.exposedCrew}}'
              class="mark-exposedCrew"
              data-dtype='String'
              {{#if system.exposedCrew}}checked{{/if}}
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Targeting System</label>
            <input
              type='checkbox'
              name='system.targetSystem'
              value='{{system.targetSystem}}'
              class="mark-target"
              data-dtype='String'
              {{#if system.targetSystem}}checked{{/if}}
            />
          </div>
        </div>
        <div class='grid grid-2col'>
          <div class='grid-span-1'>
            <label class='resource-label'>Passenger Pod</label>
            <input
              type='checkbox'
              name='system.passengers'
              value='{{system.passengers}}'
              class="mark-passengers"
              data-dtype='String'
              {{#if system.passengers}}checked{{/if}}
            />
          </div>
          <div class='grid-span-1'>
            <label class='resource-label'>Passenger Count</label>
            <input
              type='text'
              name='system.passengerCount'
              value='{{system.passengerCount}}'
              data-dtype='Number'
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</form>